﻿
@model dynamic


@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/MasterAdmin/Views/Shared/_LayoutPage1.cshtml";
}
@if (TempData["Message"] != null)
{
    <script type="text/javascript">

            alert("SuccessFull Add Branch");

    </script>

}

<div class="page-wrapper">
    <div class="container-fluid">
        <!-- Page Heading -->
        <div class="row">
            <div class="col-lg-12">
                <h3 class="page-header">
                    Add Branch
                </h3>

                <form method="post"  action="@Url.Action("Add","ManageBranch")">
                    <div class="col-md-6">
                        <label>Branch Name</label>
                        <input type="text" name="BranchName"  maxlength="50" id="BranchName" required="" class="form-control" />
                        <br />
                        <label>Address</label>
                        <textarea name="BranchAddress"  maxlength="250"   id="BranchAddress" required="" rows="8" cols="8" class="form-control"></textarea>
                        <br />
                        <label>City</label>
                        <br />
                        <select required name="BranchCity" class="form-control" id="BranchCity">
                            <option value="">Select City</option>
@foreach (EasyGhaat.Models.City City in Model.City)
{
    <option value="@City.Id">@City.CityName</option>
}
                        </select>
                        <br />                  
                        <label>Phone Number</label>
                        <input type="tel" name="PhoneNumber" id="PhoneNumber" min="6" max="10" class="form-control"  required=""/>
                        <br />
                        <label>Fax Number</label>
                        <input type="tel" name="FaxNumber" id="FaxNumber"  maxlength="15"  class="form-control" required="" />
                        <br />
                        <label>EmailId</label>
                        <input type="email" name="EmailId" id="EmailId" class="form-control" required="" />
                        <br />                       
                        <br />
             
                        <input type="submit" class="btn btn-primary" value="Submit" />&nbsp;&nbsp;&nbsp;&nbsp;<a href="@Url.Action("Index","UpdateBranch")">View Branches</a>
                    </div>
                </form>
            </div>
        </div>
  


    </div>

</div>

