﻿@model EasyGhaat.Models.Category
@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/MasterAdmin/Views/Shared/_LayoutPage1.cshtml";
}




@if (TempData["Message"] != null)
{
    <script type="text/javascript">

            alert("SuccessFull Add Surge");

    </script>

}


<div class="page-wrapper">
    <div class="container-fluid">
        <!-- Page Heading -->
        <div class="row">
            <div class="col-lg-12">
                <h4 class="page-header">
                    Update Category
                </h4>
                <form method="post" enctype="multipart/form-data" action="@Url.Action("Edit","UpdateCategories")">
                    <div class="col-md-6">

                        <label>Name</label>
                        <input type="text" name="Name" id="Name" value="@Model.Name" class="form-control" required="" />
                        <br />
                        <label>Description</label>
                        <textarea name="Description" id="Description" rows="8" cols="8" value="@Model.Description" class="form-control">
                            @Model.Description
                        </textarea>
                        <br />
               
                        <br />
         

                        <input type="submit" value="Submit" class="btn btn-primary" />
                        <input type="hidden" id="hdnId" value="@Model.Id" name="hdnId" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

