﻿@model EasyGhaat.Models.VendorServiceDeliveryHour_tbl

@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/MasterAdmin/Views/Shared/_LayoutPage1.cshtml";
}


@if (TempData["Message"] != null)
{
    <script type="text/javascript">
        alert("SuccessFully Updated ");
    </script>
}

<div class="page-wrapper">
    <div class="container-fluid">
        <!-- Page Heading -->
        <div class="col-md-12">
            <h4 class="page-header">
                Add Service Delivery Hours
            </h4>
            <form method="post" action="@Url.Action("Edit","ViewVendorServiceDeliveryHour")">
                <div class="col-md-8">
                    <label>Vendor </label>
                    <input type="text" name="txtVendor" id="txtVendor" class="form-control" readonly="" value="@Model.Vendor.VendorName"/>
                    <br />
                    <label>Service </label>
                    <input type="text" name="txtService" id="txtService" class="form-control" readonly="" value="@Model.Service.Name"/>
                    <br />
                    <label>Delivery Type </label>
                    <input type="text" name="txtDeliveryType" id="txtService" class="form-control" readonly="" value="@Model.DeliveryType_tbl.DeliveryType"/>
                    <br />
                    <label>Service Hours</label>
                    <input type="number" name="txtServiceHours" id="txtServiceHours" class="form-control" required="" value="@Model.ServiceHours"/>
                    <br />

                    <label>Marginal Hours</label>
                    <input type="number" name="txtMarginalHours" id="txtMarginalHours" class="form-control" required="" value="@Model.MarginalHours"/>
                    <br />

                    <label>SurgePrice %age</label>
                    <input type="number" name="txtSurgePrice" id="txtSurgePrice" class="form-control" required="" value="@Model.SurgePercentage"/>
                    <br />

                    <input type="hidden" id="hdnId" name="hdnId" value="@Model.Id" />

                    <input type="submit" class="btn btn-primary" value="Submit" />&nbsp;&nbsp;&nbsp;&nbsp;<a href="@Url.Action("Index","ViewVendorServiceDeliveryHour")">Back</a>
                </div>
            </form>
        </div>
    </div>
</div>

