﻿@model IEnumerable<EasyGhaat.Models.VendorServiceDeliveryHour_tbl>
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/MasterAdmin/Views/Shared/_LayoutPage1.cshtml";
}


<div class="page-wrapper">
    <div class="container-fluid">

        <div class="row">
            <div class="col-md-12">
                <h4 class="page-header">
                    View Vendor Service DeliveryHour
                </h4>

                @if (Model != null)
                {
                    <table class="table">
                        <thead class="thead-inverse">
                            <tr style="background-color:#2e6da4;color:white;">
                                <th><center>Vendor Name</center></th>
                                <th><center>Service Name</center></th>
                                <th><center>Delivery Type</center></th>
                                <th><center>Service Hours</center></th>
                                <th><center>Marginal Hours</center></th>
                                <th><center>Surge Percentage</center></th>
                                <th width="50px">Edit</th>
                                <th width="50px">Delete</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var obj in Model)
                            {
                                <tr>
                                    <td hidden="hidden">@obj.Id</td>
                                    <td>@obj.Vendor.VendorName</td>
                                    <td>@obj.Service.Name</td>
                                    <td>@obj.DeliveryType_tbl.DeliveryType</td>
                                    <td>@obj.ServiceHours</td>
                                    <td>@obj.MarginalHours</td>
                                    <td>@obj.SurgePercentage</td>
                                    <td>@Html.ActionLink("Edit", "Edit", "ViewVendorServiceDeliveryHour", new { id = @obj.Id }, null)</td>
                                    <td>@Html.ActionLink("Delete", "Delete", "ViewVendorServiceDeliveryHour", new { id = @obj.Id }, null)</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                }


                else
                {


                }
            </div>
        </div>
    </div>
</div>