﻿@model dynamic

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/MasterAdmin/Views/Shared/_LayoutPage1.cshtml";
}

@if (TempData["Message"] != null)
{
    <script type="text/javascript">
        alert("SuccessFully Added ");
    </script>
}
@if (TempData["Message-1"] != null)
{
    <script type="text/javascript">
        alert("There are some Kind or Error Please contact Admin");
    </script>
}

@if (TempData["Message1"] != null)
{
    <script type="text/javascript">
        alert("Same Branch can not have two delivery Hours for same delivery  type on same service");
    </script>
}


<div class="page-wrapper">
    <div class="container-fluid">
        <!-- Page Heading -->
        <div class="col-md-12">
            <h4 class="page-header">
                Add Delivery Hours
            </h4>
            <form method="post"  action="@Url.Action("Add","AddDeliveryHours")">
                <div class="col-md-8">
                    <label>Service</label>
                    <select required name="ddlService" class="form-control" id="ddlService">
                        <option value="">Select Service</option>
                        @foreach (EasyGhaat.Models.Service Service in Model.Service)
                        {
                            <option value="@Service.Id">@Service.Name</option>
                        }
                    </select>
                    <br />
                    <label>Delivery Type </label>
                    <select  required name="ddlType" class="form-control" id="ddlType">
                        <option value="">Select Type</option>
                        @foreach (EasyGhaat.Models.DeliveryType_tbl DeliveryType_tbl in Model.DeliveryType_tbl)
                        {
                            <option value="@DeliveryType_tbl.Id">@DeliveryType_tbl.DeliveryType</option>
                        }
                    </select>
                    <br />
                    <label>Branch </label>
                    <select required name="ddlBranch" class="form-control" id="ddlBranch">
                        <option value="">Select Branch</option>
                        @foreach (EasyGhaat.Models.Branch Branch in Model.Branch)
                        {
                            <option value="@Branch.Id">@Branch.Name</option>
                        }
                    </select>
                    <br />
                    <label>Delivery hours</label>
                    <input type="number" name="txtDeliveryHours"   min="1" max="100"   id="txtDeliveryHours" class="form-control" required="" />
                    <br />
                    <label>Marginal hours</label>
                    <input type="number" name="txtMarginalHours"  min="1" max="100"      id="txtMarginalHours" class="form-control" required="" />
                    <br />
                    <label>Description</label>
                    <textarea name="txtDescription" id="txtDescription" rows="5" cols="5" maxlength="250" class="form-control"></textarea>
                    <br />
                   
                    <input type="submit" class="btn btn-primary" value="Submit" />&nbsp;&nbsp;&nbsp;&nbsp;<a href="@Url.Action("Index","ViewDeliveryHours")">View/Update DeliveryHours</a>
                </div>
            </form>
        </div>
    </div>
</div>

