﻿
@model IEnumerable <EasyGhaat.Models.tblImage>
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/MasterAdmin/Views/Shared/_LayoutPage1.cshtml";
}

@if (TempData["Message"] != null)
{
    <script type="text/javascript">

            alert("SuccessFull");

    </script>

}
<div class="page-wrapper">
    <div class="container-fluid">
        <!-- Page Heading -->
        <div class="row">
            <div class="col-lg-12">
                <h3 class="page-header">
                    Add Media
                </h3>

                <form method="post" enctype="multipart/form-data" action="@Url.Action("UploadImage","AddMedia")">
                    <div class="form-group">
                        @Html.Label("Uplaod Image", new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            <input type="file" id="file" name="files" accept="image/*" required="" multiple="multiple" />
                        </div>
                    </div>
                    <br />
                    <br /><br />
                    <br />
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="UploadImage" class="btn btn-primary" />
                        </div>
                    </div>


                </form>
            </div>
        </div>
        @if(Model!=null)
        {

        <div class="row">
            <div class="col-lg-12">
                <h3 class="page-header">
                    View Media Gallery
                </h3>
                <ol class="breadcrumb">
                    <li class="active">
                        <i class="fa fa-fw fa-arrows-v"></i> Selected Image-Path &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        
@if (TempData["Path"] != null)
{
    <input type="text" id="imgpath" name="imgpath" value="@TempData["Path"]" style="width:200px;" />
}
                    </li>
                  
                </ol>
                
            </div>
            <form method="post">

                <div>


                    @foreach (var media in Model)
                    {
                        <div class="col-sm-3">
                            <img src="@Url.Content(media.Photo)" alt="" class="img-responsive img-thumbnail">                                                      
                            @Html.ActionLink("Add", "Add", "AddMedia", new { id = media.id }, new { onclick = "return confirm('Do you really want to Add this') "})
                            @Html.ActionLink("Delete", "Delete", "AddMedia", new { id = media.id }, new { onclick = "return confirm('Do you really want to delete this')" })
                        </div>
                    }
                </div>

            </form>

        </div>

        }

    </div>
</div>