﻿
@model IEnumerable<EasyGhaat.Models.RoleType>


@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/MasterAdmin/Views/Shared/_LayoutPage1.cshtml";
}

@if (TempData["Message"] != null)
{
    <script type="text/javascript">

            alert("SuccessFull");

    </script>

}

<script src="https://code.jquery.com/jquery-1.12.4.js"></script>

<script type="text/javascript">


    $(document).ready(function () {


        $('.alphaonly').bind('keyup blur', function () {
            var node = $(this);
            node.val(node.val().replace(/[^a-z ]/g, ''));
        }
       );


    });


    </script>





<div class="page-wrapper">
    <div class="container-fluid">
        <!-- Page Heading -->
        <div class="row">
            <div class="col-lg-12">
                <h3 class="page-header">
                    Add Role
                </h3>

                <form method="post"  action="@Url.Action("Add","ManageRole")">
                    <div class="col-md-6">

                        <label>Role</label>
                        <input type="text"   maxlength="15"  name="Role" id="Role" required="" class="form-control alphaonly" />
                        <br />
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" value="Add" class="btn btn-primary" />
                            </div>
                        </div>
                    </div>


</form>
            </div>
        </div>

        @if(Model!=null)
        {
            <div class="row">
                <div class="col-lg-12">
                    <h4 class="page-header">
                        Update Role
                    </h4>

                    <table class="table">
                        <thead class="thead-inverse">
                            <tr style="background-color:#2e6da4;color:white;">
                                <th><center>Role_Id</center></th>
                                <th><center>Role_Name</center></th>

                                <th>Edit</th>
                                <th>Delete</th>

                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>@item.Id</td>
                                    <td>@item.RoleName</td>
                                    <td>@Html.ActionLink("Edit", "Edit", "ManageRole", new { id = @item.Id }, null)</td>
                                    <td>
                                        @Html.ActionLink("Delete", "Delete",       new { id = @item.Id }, new { onclick = "return confirm('Do you really want to delete the tag " + @item.Id + "?')" })
                                    </td>
                                </tr>

                            }
                        </tbody>
                    </table>

                </div>



            </div>
        }

        </div>

    </div>