﻿@model EasyGhaat.Models.Add_SignUp
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/MasterAdmin/Views/Shared/_LayoutPage1.cshtml";
}
@if (TempData["Message"] != null)
{
    <script type="text/javascript">

            alert("SuccessFull");

    </script>

}

<div class="page-wrapper">
    <div class="container-fluid">
        <!-- Page Heading -->
        <div class="row">
            <div class="col-lg-12">
                <h3 class="page-header">
             
                    Change BackGroundImage

                </h3>
                @if(Model!=null)
                { 
                <form method="post" enctype="multipart/form-data"  action="@Url.Action("Update","UpdateSignUp")">
                    <div class="col-md-6">
        
                        <label>BackGround Image </label>
                      
                        <img src="@Url.Content(Model.BackGroundImage)" alt=""  style="width:300px;height:300px" class="img-responsive">
<br />
                        <br />

                        <input type="file" id="file" name="files"  accept="image/*" required="" />
                        <br />
                        <input type="submit" class="btn btn-primary" value="Update" />
                        <input type="hidden" id="hdnId" value="@Model.Id" name="hdnId" />
                    </div>

                </form>
                }

                else


                {


                    <form method="post" enctype="multipart/form-data" action="Add">
                        <div class="col-md-6">
                      
                            Add BackGroundImage

                            <input type="file" id="file" name="files" accept="image/*" required="" />
                            <br />
                            <input type="submit" class="btn btn-primary" value="Add" />
                            
                        </div>

                        </form>





                        }
</div>
        </div>
    </div>
</div>
