﻿<html class="no-js">
<head>
    <!-- Basic Page Needs
    ================================================== -->
    <meta charset="utf-8">
    <title>EasyGhaat</title>
    <meta name="description" content="">
    <!-- Mobile Specific Metas
    ================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- CSS
    ================================================== -->
    <!-- Bootstrap -->
    <link rel="stylesheet" href="~/Content/css/bootstrap.min.css" />
    <!-- FontAwesome -->
    <link rel="stylesheet" href="~/Content/css/font-awesome.min.css" />
    <!-- Animation -->
    <link rel="stylesheet" href="~/Content/css/animate.css" />
    <!-- Owl Carousel -->
    <link rel="stylesheet" href="~/Content/css/owl.carousel.css" />
    <link rel="stylesheet" href="~/Content/css/owl.theme.css" />
    <!-- Pretty Photo -->
    <link rel="stylesheet" href="~/Content/css/prettyPhoto.css" />
    <!-- Main color style -->
    <link rel="stylesheet" href="~/Content/css/red.css" />
    <!-- Template styles-->
    <link rel="stylesheet" href="~/Content/css/custom.css" />

    <!-- Responsive -->
    <link rel="stylesheet" href="~/Content/css/responsive.css" />
    <!--<link rel="stylesheet" href="css/jquery.fancybox.css?v=2.1.5" type="text/css" media="screen" />-->
    <!-- <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>-->
    <!-- <link href='http://fonts.googleapis.com/css?family=Lato:400,300' rel='stylesheet' type='text/css'>
     <link href='http://fonts.googleapis.com/css?family=Raleway:400,300,500' rel='stylesheet' type='text/css'> -->
    <link rel="stylesheet" href="~/Content/css/bootstrap-social.css" />
    <link rel="stylesheet" href="~/Content/css/scrolling-nav.css" />
</head>
<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">

    <!-- Feedback start -->
    <section id="service" style="background:#32c2e5">

        <!-- download button strart-->
        <!-- End download button-->


        <div class="container">
            <!-- Welcome -->
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="feature_header text-center">
                        <h2 class="decorated-heading wow fadeInUp animated" style="visibility: visible; animation-duration: 0.5s; animation-delay: 0.1s; animation-name: fadeInUp; color:#FFFFFF">FeedBack</h2>
                        <p class="subtitle" style="color:#FFFFFF;">Duis autem vel eum iriure dolor</p>
                        <p>&nbsp;</p>
                    </div>
                </div>  <!-- Col-md-12 End -->
            </div>
        </div>
        <!-- Row End -->
        <!-- Row End -->
        <!-- Container End -->
        <div class="row">
            <div class="container">
                <div class="col-lg-12">
                    <form name="sentMessage" id="contactForm" novalidate>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Your Name *" id="name" required data-validation-required-message="Please enter your name." style="padding: 20px;">
                                    <p class="help-block text-danger"></p>
                                </div>
                                <div class="form-group">
                                    <input type="email" class="form-control" placeholder="Your Email *" id="email" required data-validation-required-message="Please enter your email address." style="padding: 20px;">
                                    <p class="help-block text-danger"></p>
                                </div>
                                <div class="form-group">
                                    <input type="tel" class="form-control" placeholder="Your Phone *" id="phone" required data-validation-required-message="Please enter your phone number." style="padding: 20px;">
                                    <p class="help-block text-danger"></p>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <textarea class="form-control" placeholder="Your Message *" id="message" required data-validation-required-message="Please enter a message." rows="7" ></textarea>
                                    <p class="help-block text-danger"></p>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <div class="col-lg-12 text-center">
                                <div id="success"></div>
                                <button type="submit" class=" btn btn-xl" style="background: #32c2e5;color: white;border: 1px solid #13325f;">Send Message</button>
                            </div>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </section>


    <!-- Javascript Files
        ================================================== -->
    <!-- initialize jQuery Library -->
    <!-- initialize jQuery Library -->
    <!-- Main jquery -->
    <script type="text/javascript" src="~/Content/js/jquery.js"></script>
    <!-- Bootstrap jQuery -->
    <script src="~/Content/js/bootstrap.min.js"></script>
    <!-- Owl Carousel -->
    <script src="~/Content/js/owl.carousel.min.js"></script>
    <!-- Isotope -->
    <script src="~/Content/js/jquery.isotope.js"></script>
    <!-- Pretty Photo -->
    <script type="text/javascript" src="~/Content/js/jquery.prettyPhoto.js"></script>
    <!-- SmoothScroll -->
    <script type="text/javascript" src="~/Content/js/smooth-scroll.js"></script>
    <!-- Image Fancybox -->
    <script type="text/javascript" src="~/Content/js/jquery.fancybox.pack.js?v=2.1.5"></script>
    <!-- Counter  -->
    <script type="text/javascript" src="~/Content/js/jquery.counterup.min.js"></script>
    <!-- waypoints -->
    <script type="text/javascript" src="~/Content/js/waypoints.min.js"></script>
    <!-- Bx slider -->
    <script type="text/javascript" src="~/Content/js/jquery.bxslider.min.js"></script>
    <!-- Scroll to top -->
    <script type="text/javascript" src="~/Content/js/jquery.scrollTo.js"></script>
    <!-- Easing js -->
    <script type="text/javascript" src="~/Content/js/jquery.easing.1.3.js"></script>
    <!-- PrettyPhoto -->
    <script src="~/Content/js/jquery.singlePageNav.js"></script>
    <!-- Wow Animation -->
    <script type="js/javascript" src="~/Content/js/wow.min.js"></script>
    <!-- Google Map  Source -->
    <!-- Custom js -->
    <script src="~/Content/js/custom.js"></script>
    <script src="~/Content/js/scrolling-nav.js"></script>
    <script src="~/Content/js/jquery.easing.min.js"></script>

</body>

</html>
