﻿@model IEnumerable<EasyGhaat.Models.wlcm_srvic_stripe>
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/MasterAdmin/Views/Shared/_LayoutPage1.cshtml";
}
@if (TempData["Message"] != null)
{
    <script type="text/javascript">

            alert("SuccessFull");

    </script>

}
<div class="page-wrapper">
    <div class="container-fluid">
        <!-- Page Heading -->
        <div class="row">
            <div class="col-lg-12">
                <h3 class="page-header">
                    Add Welcome Service
                </h3>
                <form method="post" enctype="multipart/form-data" action="@Url.Action("Submit","AddWelcomeService")">
                    <div class="col-md-6">                     
                        <label>Box Content</label>
                        <textarea name="BoxContent" id="BoxContent" rows="8" cols="8" class="form-control"></textarea>
                        <br />
                        <label>Read More Link</label>
                        <textarea name="ReadMoreContent" rows="8" cols="8" id="ReadMoreContent" class="form-control"></textarea>
                        <br />
                        <label>Box Image</label>
                        <input type="file" id="file" name="files" accept="image/*" required="" /><label style="color: red;">Image Size should be: 206 * 206</label>
                        <br />
                        <input type="submit" class="btn btn-primary" value="Submit" />
                    </div>
                </form>
            </div>
        </div>

        @if (Model != null)
        {

            <div class="row">

                <div class="col-lg-12">
                    <h3 class="page-header">
                        Edit Welcome Services
                    </h3>
                    <table class="table-bordered">
                        <thead>
                            <tr style="background-color:#2e6da4;color:white;">

                                <th><center>Image</center></th>
                                <th><center>box_content</center></th>
                                <th><center>Readmore_Content</center></th>
                                <th width="50px">Edit</th>
                                <th width="50px">Delete</th>

                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td hidden="hidden">@item.id</td>
                                    <td style="width:50px; height:50px"><img src="@Url.Content(item.box_image)" alt="" class="img-responsive"></td>
                                    <td>@item.box_content</td>
                                    <td>@item.redmore_link</td>
                                    <td>@Html.ActionLink("Edit", "Edit", "AddWelcomeService", new { id = @item.id }, null)</td>
                                    <td>@Html.ActionLink("Delete", "Delete", "AddWelcomeService", new { id = @item.id }, new { onclick = "return confirm('Do you really want to delete the  " + @item.id + "?')" })</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>


        }

        else

        {








        }

    </div>
</div>