﻿@model EasyGhaat.Models.home_slider

@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/MasterAdmin/Views/Shared/_LayoutPage1.cshtml";
}
@if (TempData["Message"] != null)
{
    <script type="text/javascript">

            alert("SuccessFull");

    </script>

}
<div class="page-wrapper">


    <div class="container-fluid">
        <!-- Page Heading -->
        <div class="row">
            <div class="col-lg-12">
                <h3 class="page-header">
                    Edit Slider
                </h3>
                <div>
        
                    <form method="post"  action="Edit">
                        <div class="col-md-6">
                  
                            <label>Title</label>
                            <textarea name="Title" id="Title" vlue="@Model.content_1" rows="8" cols="8" class="form-control">
                                @Model.content_1
                            </textarea>
                            <label>Sub Title</label>
                            <textarea name="SubTitle" rows="8" value="@Model.content_2" cols="8" id="SubTitle" class="form-control">
                                @Model.content_2
                            </textarea>
                            <br />
                            <input type="submit" value="Submit" class="btn btn-primary" />
                        </div>

                        <input type="hidden" id="hdnId" value="@Model.slider_id" name="hdnId" />
                    </form>

</div>
</div>
</div>
</div>
</div>
