﻿@model  dynamic
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/MasterAdmin/Views/Shared/_LayoutPage1.cshtml";
}

<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.0/jquery-ui.js"></script>


@if (TempData["Message"] != null)
{
    <script type="text/javascript">

            alert("SuccessFull");
    </script>
}

@if (TempData["NotSpecified"] != null)
{

    <script type="text/javascript">
    alert("Not Specified is not acceptable");
    </script>

}


<script type="text/javascript">


    $(document).ready(function () {


        $('.alphaonly').bind('keyup blur', function () {
            var node = $(this);
            node.val(node.val().replace(/[^a-z ]/g, ''));
        }
       );
       
        $('#hdntext').hide();
        $('#ddlCategory').change(function ()
        {
            var CategoryType = $("#ddlCategory option:selected").html();
    
            if (CategoryType == " Household")
            {  
                $("#ddlgender").hide();
                //$('#ddlgender').append('<option value="0">Not Specified</option>');
                $('#hdntext').show();
            }
            else
            {
                $("#ddlgender").show();
                $('#hdntext').hide();
            }   
        });
    });





    




</script>





<div class="page-wrapper">
    <div class="container-fluid">
        <!-- Page Heading -->
        <div class="row">
            <div class="col-lg-12">
                <h3 class="page-header">
                    Add Product
                </h3>

                <form method="post" enctype="multipart/form-data" action="@Url.Action("Add","AddProduct")">
                    <div class="col-md-6">
                        <label>Product Name</label>
                        
                        <input type="text" name="Name" id="Name"    maxlength="50" required="" class="form-control" />
                        <br />
                        <label>Description</label>
                        <textarea name="Description" id="Description" maxlength="250"  rows="8" cols="8" class="form-control"></textarea>

                        <label>  Category</label>
                         <select required name="ddlCategory" id="ddlCategory" class="form-control" >
                             <option value="">Select Category</option>
                             @foreach(EasyGhaat.Models.Category category in Model.Category)
                             {
                                <option value="@category.Id"> @category.Name</option>
                             }
                         </select>
                        <br/>

                        <label>  Gender</label>
                        <select  name="ddlgender" id="ddlgender" class="form-control" >
                            <option value="">Select Gender</option>
                            @foreach (EasyGhaat.Models.Gender Gender in Model.Gender)
                            {

                                <option value="@Gender.Id"> @Gender.Name</option>
                            }
                        </select>
                        <input type="text" id="hdntext" name="hdntext" readonly="readonly" value="Not Specified" class="form-control"/>
                        <br />
                        <label> Image</label>
                        <input type="file" id="file" name="files" accept="image/*" required="" />

                        <br />
                        <input type="submit" class="btn btn-primary" value="Submit" />&nbsp;&nbsp;&nbsp;&nbsp;<a href="@Url.Action("Index","ViewProducts")">View Products</a>
                    </div>
                </form>
            </div>
        </div>

    </div>

</div>


