﻿
@model dynamic

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/MasterAdmin/Views/Shared/_LayoutPage1.cshtml";
}

<script src="https://code.jquery.com/jquery-1.12.4.js"></script>

<script type="text/javascript">



    $(document).ready(function () {

        
     


        $('input[type="text"], textarea').attr('readonly', 'readonly');

        $('#ddlRole').change(function () {
            RoleId = $(this).val();
            $('#tblcancelReason').html('');

            $('input[type="text"], textarea').attr('readonly', 'readonly');
            FillCancelReasontbl(RoleId);
        });



        function FillCancelReasontbl(RoleId) {
            $.ajax({
                type: 'GET',
                contentType: 'application/json',
                url: "/api/ViewGetCancelReasons/" + RoleId,
                success: function (data) {
                    $.each(data, function (idx, value) {

                        $('#tblcancelReason').append('<tr><td><input type="checkbox"  class="chk" value=""/></td><td class="ids">' + value.Id + '</td><td> <textarea id="txtReason"  style="margin: 0px; width: 407px; height: 66px;"  cols="3" rows="3" value=' + value.Reason + '  >' + value.Reason + '</textarea></td><td><input type="submit" class="btn btn-primary" value="Update" id="btnUpdate" onClick="GettxtValue();" /></td><td><input type="submit" class="btn btn-primary" value="Delete" onClick="DeletetxtValue();"  id="btnDelete"/></td></tr>');
                    });
                },
                error: function (xhr) {
                    // sweetAlert("Oops...", "Something went wrong! " + xhr.responseText, "error");
                    $('#Error_msg').html('<div class="alert alert-error" style="color: #b94a48;background-color: #f2dede;border-color: #eed3d7;"><button type="button" class="close" data-dismiss="alert">&times;</button><h4>Error in bind_drp_men_pro Method !</h4>' + xhr.responseText + '</div>');
                }
            });
        }
    });




    function GettxtValue()
    {

        var res = "";
        var res1 = "";

        debugger;
        $('#tblcancelReason').find('tr').each(function () {
            var row = $(this);
            if (row.find('input[type="checkbox"]').is(':checked'))
            {
                res = row.find('input[type=text],textarea').val();
                res1 = row.find('td.ids').text();
            }
        });

        debugger;
        if (res == "")
        {
            alert("Reason can not be null");
 
            return;
        }
        var dataObject =
         {
             Id: res1,
             Reason: res,
         };
        $.ajax({
            type: "POST",
            url: "@Url.Action("UpdateCancelReason", "ViewUpdateCancelReason")",
            data: dataObject,
        dataType: "json",
        success: function (data) {
            // $('#tblshow').hide();
            alert('Done!');
            window.location.reload();
        }
    });

    }











    function DeletetxtValue() {

        var resone = "";

        $('#tblcancelReason').find('tr').each(function () {
            var row = $(this);
            if (row.find('input[type="checkbox"]').is(':checked')) {
                resone = row.find('td.ids').text();
            }
        });

        var dataObject =
         {
             Id: resone
         };
        $.ajax({
            type: "POST",
            url: "@Url.Action("DeleteCancelReason", "ViewUpdateCancelReason")",
            data: dataObject,
            dataType: "json",
            success: function (data) {
                // $('#tblshow').hide();
                alert('Done!');
                window.location.reload();
            }
        });

    }
  
</script>

<div class="page-wrapper">
    <div class="container-fluid">
        <!-- Page Heading -->
        <div class="col-md-12">
            <h4 class="page-header">
                View Cancel Reasons
            </h4>
            <div class="col-lg-12">
                <div class="form-group col-md-4">
                    <label> Role </label>
                    <select required name="ddlRole" class="form-control" id="ddlRole">
                        <option value="">Select Role</option>
                        @foreach (EasyGhaat.Models.RoleType RoleType in Model.RoleType)
                        {
                            <option value="@RoleType.Id">@RoleType.RoleName</option>
                        }
                    </select>
                </div>

            </div>

            <table class="table">
                <thead class="thead-inverse">
                    <tr style="background-color:#2e6da4;color:white;">
                        <th>Select</th>
                        <th>ID</th>
                        <th>REASON</th>
                        <th>UPDATE</th>
                        <th>DELETE</th>
                    </tr>
                </thead>
                <tbody id="tblcancelReason"></tbody>
            </table>

        </div>
    </div>
</div>

