﻿@model IEnumerable<EasyGhaat.Models.VendorPrice_tbl>
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/MasterAdmin/Views/Shared/_LayoutPage1.cshtml";
}


<div class="page-wrapper">
    <div class="container-fluid">

        <div class="row">
            <div class="col-md-12">
                <h4 class="page-header">
                    Vendor Price List
                </h4>

             @if (Model != null)
             {
                    <table class="table">
                        <thead class="thead-inverse">
                            <tr>
                                <th><center>Price</center></th>
                                <th><center>Category</center></th>
                                <th><center>Product</center></th>
                                <th><center>Gender</center></th>
                                <th><center>Unit_Type</center></th>
                                <th width="50px">Edit</th>
                                <th width="50px">Delete</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var obj in Model)
                            {
                                <tr>
                                    <td hidden="hidden">@obj.PriceTable.Id</td>

                                    <td>@obj.Price</td> 

                                    <td>@obj.PriceTable.Product.Category.Name</td>

                                    <td>@obj.PriceTable.Product.Name</td>

                                    <td>@obj.PriceTable.Product.Gender.Name</td>

                                    <td>@obj.PriceTable.Unit_Type.U_Type</td>
                                    
                                    <td>@Html.ActionLink("Edit", "Edit", "ViewVendorPriceList", new { id = @obj.Id }, null)</td>

                                    <td>@Html.ActionLink("Delete", "Delete", "ViewVendorPriceList", new { id = @obj.Id }, null)</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                }


                else
                {






                }

                <br />
                <br />
                <a href="@Url.Action("Index","UpdateVendor")">Back</a>
            </div>
        </div>
    </div>
</div>

