﻿@model IEnumerable<EasyGhaat.Models.Category>
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/MasterAdmin/Views/Shared/_LayoutPage1.cshtml";
}
<script src="~/scripts/tinymce/tinymce.js"></script>
<script src="~/scripts/main.js"></script>

@if (TempData["Message"] != null)
{
    <script type="text/javascript">
        alert("SuccessFull");
    </script>
}



<div class="page-wrapper">
    <div class="container-fluid">
        <!-- Page Heading -->
        @if (Model != null)
            {
            <div class="row">

                <div class="col-lg-12">
                    <h3 class="page-header">
                        View Categories
                    </h3>
                    <table class="table" id="Addp">
                        <thead class="thead-inverse">
                            <tr style="background-color:#2e6da4;color:white;">
                                <th><center>Image</center></th>
                                <th><center>Name</center></th>
                                <th><center>Description</center></th>
                                <th width="50px">Edit</th>
                                <th width="50px">Delete</th>

                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td hidden="hidden">@item.Id</td>
                                    <td style="width:50px; height:50px"><img src="@Url.Content(item.ImgUrl)" alt="" class="img-responsive"></td>
                                    <td>@item.Name</td>
                                    <td>@item.Description</td>
                                    <td>@Html.ActionLink("Edit", "Index", "UpdateCategories", new { id = @item.Id }, null)</td>
                                    <td>@Html.ActionLink("Delete", "Delete", "ViewCategory", new { id = @item.Id }, new { onclick = "return confirm('Do you really want to delete the  " + @item.Id + "?')" })</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        }
        else
        {
            <div class="row">

                <div class="col-lg-12">
                    <h3 class="page-header">
                        Edit Services
                    </h3>

                    <p> There is no service Added </p>

                </div>
            </div>
        }


    </div>

</div>


