﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

</section>
<section id="service">

    <!-- download button strart-->
    <!-- End download button-->

    <div class="container">
        <!-- Welcome -->
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <div class="bs-example bs-example-tabs" role="tabpanel" data-example-id="togglable-tabs">
                    <ul id="myTab" class="nav nav-tabs nav-tabs-responsive" role="tablist" style="background: #dddddd;">
                        <li role="presentation " class="logwidth">
                            <a href="@Url.Action("Index", "Login")">
                                <center> <span class="text">LOGIN</span></center>
                            </a>
                        </li>

                        <li role="presentation" class="logwidth active">
                            <a href="@Url.Action("Index", "SignUp")">
                                <center><span class="text">SIGNUP</span></center>
                            </a>
                        </li>


                    </ul>

                </div>
            </div>
            <div class="col-md-4"></div>
        </div>
        <div class="row">

            <div class="col-md-4"></div>

            <div class="col-md-4">

                <div class="panel with-nav-tabs panel-default" style=" border:none">
                    <div class="tab-content">

                        <!--======================================
                        Login
                        ========================================-->
                        <div class="tab-pane fade in active" id="signup">
                            <form role="form">
                                <div class="form-group">
                                    <input type="text" class="form-control" name="name" id="" value="" placeholder="Name">
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control" name="emaiormobile" id="" value="" placeholder="Email Id or Mobile no.">
                                </div>
                                <div class="input-group">
                                    <input type="password" class="form-control pwd" value="" placeholder="Password">
                                    <span class="input-group-btn">
                                        <button class="btn btn-default reveal" type="button"><i class="glyphicon glyphicon-eye-open"></i></button>
                                    </span>
                                </div>

                                <div class="form-group">
                                    <input type="text" class="form-control" name="refral" id="" value="" placeholder="Referral Code">
                                </div>
                                <div class="btn-group btn-group-justified" role="group" aria-label="...">
                                    <div class="btn-group" role="group">
                                        <!-- <button type="button" class="btn btn-default">Left</button>-->
                                    </div>
                                    <div class="btn-group" role="group">
                                        
                                            <button type="button" class="btn btn-primary " value="" onclick="location.href='@Url.Action("Index", "OTP")'">Register</button></a>
</div>
                                    <div class="btn-group" role="group">
                                        <!-- <button type="button" class="btn btn-default">Right</button>-->
                                    </div>
                                </div>
                                <div class="form-group" role="group">


                                    <label>&nbsp;</label>
                                    <!-- <button type="button" class="btn btn-default">Right</button>-->
                                    <center><hr class="hrstyle" /></center></p>
                                </div>

                            </form>

                            <label>&nbsp;</label>
                            <h4 style="text-align:center;">Login with social media</h4>
                            <p>&nbsp;</p>

                            <div class="col-md-6">

                                <div class="form-group">
                                    <a href="#" class="btn btn-block btn-social btn-facebook socbtnlogin" onclick="_gaq.push(['_trackEvent', 'btn-social', 'click', 'btn-facebook']);">
                                        <span class="fa fa-facebook" style="color: #ffffff;"></span> Sign in with Facebook
                                    </a>
                                </div>


                            </div>


                            <div class="col-md-6">
                                <div class="form-group">
                                    <a href="#" class="btn btn-block btn-social btn-google socbtnlogin" onclick="_gaq.push(['_trackEvent', 'btn-social', 'click', 'btn-google']);">
                                        <span class="fa fa-google" style="color: #ffffff;"></span> Sign in with Google
                                    </a>
                                </div>
                            </div>

                        </div>
                        <!--========================================================
                              Signup
                        =========================================================-->
                        <!--========================================================
                                User Details
                          =========================================================-->
                        <!--========================================================
                               Forget Password
                         =========================================================-->
                        <!-- ===============================================
                                confirm password
                        =====================================================-->

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4"></div> <!-- Col-md-12 End -->
    </div>
    <!-- Row End -->
    <!-- Row End -->
    </div>  <!-- Container End -->
</section>



@Html.Partial("~/Views/PStrip/Index.cshtml");