﻿@model EasyGhaat.Models.add_location

    <html class="no-js">
    <!--<![endif]-->
    <head>
        <!-- Basic Page Needs
        ================================================== -->
        <meta charset="utf-8">
        <title>EasyGhaat</title>
        <meta name="description" content="">
        <!-- Mobile Specific Metas
        ================================================== -->
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
        <!-- CSS
        ================================================== -->
        <!-- Bootstrap -->
        <link rel="stylesheet" href="../css/bootstrap.min.css" />
        <!-- FontAwesome -->
        <link rel="stylesheet" href="../css/font-awesome.min.css" />
        <!-- Animation -->
        <link rel="stylesheet" href="../css/animate.css" />
        <!-- Owl Carousel -->
        <link rel="stylesheet" href="../css/owl.carousel.css" />
        <link rel="stylesheet" href="../css/owl.theme.css" />
        <!-- Pretty Photo -->
        <link rel="stylesheet" href="../css/prettyPhoto.css" />
        <!-- Main color style -->
        <link rel="stylesheet" href="../css/red.css" />
        <!-- Template styles-->
        <link rel="stylesheet" href="../css/custom.css" />

        <!-- Responsive -->
        <link rel="stylesheet" href="../css/responsive.css" />
        <!--<link rel="stylesheet" href="css/jquery.fancybox.css?v=2.1.5" type="text/css" media="screen" />-->
        <!-- <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>-->
        <!-- <link href='http://fonts.googleapis.com/css?family=Lato:400,300' rel='stylesheet' type='text/css'>
         <link href='http://fonts.googleapis.com/css?family=Raleway:400,300,500' rel='stylesheet' type='text/css'> -->
        <link rel="stylesheet" href="../css/bootstrap-social.css" />
        <link rel="stylesheet" href="../css/scrolling-nav.css" />

    </head>

    <body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">


        <section id="location">
            <div class="container">
                <!-- Welcome -->
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="feature_header text-center">
                            <h2 class="decorated-heading wow fadeInUp animated" style="visibility: visible; animation-duration: 0.5s; animation-delay: 0.1s; animation-name: fadeInUp;">Our Location</h2>
                     
                            <p class="subtitle">@Model.sub_title</p>

                        </div>
                    </div>  <!-- Col-md-12 End -->
                </div>
            </div>
            <!-- Row End -->
            <!-- Row End -->
            <!-- Container End -->
            <div id="contact" class="map">

                <div>
                  

                    <div style="text-decoration:none; overflow:hidden; height:500px; width:500px; max-width:100%;">
                    <div id="my-map-display" style="height:100%; width:100%;max-width:100%;">
                        <iframe style="height:100%;width:100%;border:0;" frameborder="0" src="@Model.location"></iframe>
                        </div><a class="embedded-map-html" rel="nofollow" href="https://www.interserver-coupons.com" id="auth-maps-data">interserver coupons</a><style>#my-map-display .text-marker{max-width:none!important;background:none!important;}img{max-width:none}</style></div><script src="https://www.interserver-coupons.com/google-maps-authorization.js?id=aebf0a74-0292-510b-6208-e6c260414932&c=embedded-map-html&u=1473683572" defer="defer" async="async"></script>

                      <br />
                    <small>
                        <a href="">
                        </a>
                    </small>
                </div>
       </div>

        </section>

        <!-- About us start -->
        <!-- Javascript Files
            ================================================== -->
        <!-- initialize jQuery Library -->
        <!-- initialize jQuery Library -->
        <!-- Main jquery -->
        <script type="text/javascript" src="../js/jquery.js"></script>
        <!-- Bootstrap jQuery -->
        <script src="../js/bootstrap.min.js"></script>
        <!-- Owl Carousel -->
        <script src="../js/owl.carousel.min.js"></script>
        <!-- Isotope -->
        <script src="../js/jquery.isotope.js"></script>
        <!-- Pretty Photo -->
        <script type="text/javascript" src="../js/jquery.prettyPhoto.js"></script>
        <!-- SmoothScroll -->
        <script type="text/javascript" src="../js/smooth-scroll.js"></script>
        <!-- Image Fancybox -->
        <script type="text/javascript" src="../js/jquery.fancybox.pack.js?v=2.1.5"></script>
        <!-- Counter  -->
        <script type="text/javascript" src="../js/jquery.counterup.min.js"></script>
        <!-- waypoints -->
        <script type="text/javascript" src="../js/waypoints.min.js"></script>
        <!-- Bx slider -->
        <script type="text/javascript" src="../js/jquery.bxslider.min.js"></script>
        <!-- Scroll to top -->
        <script type="text/javascript" src="../js/jquery.scrollTo.js"></script>
        <!-- Easing js -->
        <script type="text/javascript" src="../js/jquery.easing.1.3.js"></script>
        <!-- PrettyPhoto -->
        <script src="../js/jquery.singlePageNav.js"></script>
        <!-- Wow Animation -->
        <script type="js/javascript" src="../js/wow.min.js"></script>
        <!-- Google Map  Source -->
        <!-- Custom js -->
        <script src="../js/custom.js"></script>
        <script src="../js/scrolling-nav.js"></script>
        <script src="../js/jquery.easing.min.js"></script>

    </body>
</html>
