﻿@model IEnumerable<EasyGhaat.Models.testimonial>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/MasterAdmin/Views/Shared/_LayoutPage1.cshtml";
}
@if (TempData["Message"] != null)
{
    <script type="text/javascript">

            alert("SuccessFull");

    </script>

}
<div class="page-wrapper">


    <div class="container-fluid">
        <!-- Page Heading -->
        <div class="row">
            <div class="col-lg-12">
                <h3 class="page-header">
                 Create Testimonial
                </h3>

                <form action="CreateTestimonials/ADD" method="post" enctype="multipart/form-data">
                    <div class="col-md-4">
                        <label>Message</label>
                        <textarea class="form-control" rows="3" id="message" name="message"></textarea>
                        <br />
                        <label>Add Image</label>
                        <input type="file" id="file" name="files" accept="image/*" required="" />
                        <p></p>
                        <br />
                        <input type="submit" class="btn btn-primary" name="btnSubmit" />
                    </div>
                </form>

                </div>
            </div>

@if (Model != null)
{

        <div class="col-lg-12">
            <h3 class="page-header">
                Edit Testimonial
            </h3>
            <table class="table-bordered">
                <thead>
                    <tr style="background-color:#2e6da4;color:white;">
                        <th><center>Image</center></th>
                        <th><center>Testimonial Content</center></th>
                        <th width="50px" >Edit</th>
                        <th width="50px">Delete</th>

                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td style="width:50px; height:50px"><img src="@Url.Content(item.image_path)" alt="" class="img-responsive"></td>
                            <td hidden="hidden">@item.tesit_id</td>
                            <td>@item.testi_content</td>
                            <td>@Html.ActionLink("Edit", "Edit", "EditTestimonials", new { id = @item.tesit_id }, null)</td>
                            <td>@Html.ActionLink("Delete", "Delete", "CreateTestimonials", new { id = @item.tesit_id }, new { onclick = "return confirm('Do you really want to delete the  " + @item.tesit_id + "?')" })</td>
                        </tr>
                    }
                </tbody>
            </table>

        </div>


}


else

{



}











        </div>
    </div>


