﻿
@model EasyGhaat.Models.DeliveryType_SurgePrice
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/MasterAdmin/Views/Shared/_LayoutPage1.cshtml";
}

<script src="~/Content/sweetalert-master/sweetalert.min.js"></script>
<link href="~/Content/sweetalert-master/sweetalert.css" rel="stylesheet" />

@if (TempData["Message"] != null)
{
    <script type="text/javascript">
        swal("Oops...", "SuccessfULLY Added.");
    </script>
}

<div class="page-wrapper">
    <div class="container-fluid">
        <!-- Page Heading -->
        <div class="col-md-12">
            <h4 class="page-header">
                Edit DeliveryType SurgePrice
            </h4>
            <form method="post" action="@Url.Action("Edit","ViewDeliveryTypeSurgePrice")">
                <div class="col-md-8">
                    <label>Delivery Type </label>
                    <input type="text" name="txtDeliveryType" id="txtDeliveryType" class="form-control" value="@Model.DeliveryType_tbl.DeliveryType" readonly=""/>
                    <br />
                    <label>Branch </label>
                    <label>Delivery Type </label>
                    <input type="text" name="txtBranch" id="txtBranch" class="form-control" value="@Model.Branch.Name" readonly=""/>
                    <br />
                    <label>SurgePrice %age</label>
                    <input type="text" name="txtSurgePrice" id="txtSurgePrice" class="form-control" value="@Model.SurgePercentage"/>
                    <br />
                    <input type="hidden" name="hdnId" id="hdnId"  value="@Model.Id"/>
                    <input type="submit" class="btn btn-primary" value="Submit" />&nbsp;&nbsp;&nbsp;&nbsp;<a href="@Url.Action("Index"," ViewDeliveryTypeSurgePrice")">View/Update SurgePrice</a>
                </div>
            </form>
        </div>
    </div>
</div>


