﻿@model dynamic

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/MasterAdmin/Views/Shared/_LayoutPage1.cshtml";
}

@if (TempData["Message"] != null)
{
    <script type="text/javascript">
        alert("SuccessFully Added ");
    </script>
}

@if (TempData["Message-1"] != null)
{
    <script type="text/javascript">
        alert("Already Exists");
    </script>
}

<script type="text/javascript">
    $(document).ready(function () {
        //called when key is pressed in textbox
        $("#txtSurgePrice").keypress(function (e) {
            //if the letter is not digit then display error and don't type anything
            if (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) {
                //display error message
                $("#errmsg").html("Digits Only").show().fadeOut("slow");
                return false;
            }
        });
    });

</script>





<div class="page-wrapper">
    <div class="container-fluid">
        <!-- Page Heading -->
        <div class="col-md-12">
            <h4 class="page-header">
                Add DeliveryType SurgePrice
            </h4>
            <form method="post" action="@Url.Action("Add","AddDeliveryType_SurgePrice")">
                <div class="col-md-8">
                    <label>Delivery Type </label>
                    <select required name="ddlType" class="form-control" id="ddlType">
                        <option value="">Select Type</option>
                        @foreach (EasyGhaat.Models.DeliveryType_tbl DeliveryType_tbl in Model.DeliveryType_tbl)
                        {
                            <option value="@DeliveryType_tbl.Id">@DeliveryType_tbl.DeliveryType</option>
                        }
                    </select>
                    <br />
                    <label>Branch </label>
                    <select required name="ddlBranch" class="form-control" id="ddlBranch">
                        <option value="">Select Branch</option>
                        @foreach (EasyGhaat.Models.Branch Branch in Model.Branch)
                        {
                            <option value="@Branch.Id">@Branch.Name</option>
                        }
                    </select>
                    <br />
                    <label>SurgePrice %age</label>
                    <input type="text" name="txtSurgePrice" maxlength="4" id="txtSurgePrice" class="form-control" required="" />
                    <br />

                    <input type="submit" class="btn btn-primary" value="Submit" />&nbsp;&nbsp;&nbsp;&nbsp;<a href="@Url.Action("Index","ViewDeliveryTypeSurgePrice")">View/Update SurgePrice</a>
                </div>
            </form>
        </div>
    </div>
</div>

