﻿
@model IEnumerable< EasyGhaat.Models.EmployeeRejactionReason>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/MasterAdmin/Views/Shared/_LayoutPage1.cshtml";
}


<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h4 class="page-header">
                View Employee RejactionReason
            </h4>
        </div>
        <!-- /.col-lg-12 -->
    </div>

    <div class="container-fluid">
        <!-- Page Heading -->
        <div class="row">
            <div class="col-lg-12">
                @if (Model != null)
                {

                    <table class="table">
                        <thead class="thead-inverse">
                            <tr style="background-color:#2e6da4;color:white;">

                                <th><center>Id</center></th>
                                <th><center>Reason</center></th>
                                <th width="50px"><center>Delete</center></th>


                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                            
                                    <td ><center>@item.Id</center></td>
                                    <td><center>@item.Reason</center></td>                                             
                                    <td><center>@Html.ActionLink("Delete", "Delete", "ViewEmployeeRejactionReason", new { id = @item.Id }, new { onclick = "return confirm('Do you really want to delete the  " + @item.Id + "?')" })</center></td>
                                </tr>
                            }
                        </tbody>
                    </table>

                }

            </div>
        </div>
    </div>
</div>

