﻿@model EasyGhaat.Models.Offer
@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/MasterAdmin/Views/Shared/_LayoutPage1.cshtml";
}

@if (TempData["Message"] != null)
{
    <script type="text/javascript">

            alert("SuccessFull");

    </script>

}
<div class="page-wrapper">
    <div class="container-fluid">
        <!-- Page Heading -->
        <div class="row">
            <div class="col-lg-12">
                <h3 class="page-header">
                     Edit Offer
                </h3>
                <form method="post" action="@Url.Action("Edit","AddOffer")">
                    <div class="col-md-6">
                        <label>Offer Title</label>
                        <input type="text" name="OfferTitle" required="" value="@Model.OfferTitle"   id="OfferTitle" class="form-control" />
                        <label>Offer Price</label>
                        <input type="text" name="OfferPrice" value="@Model.OfferPrice"  required="" id="OfferPrice" class="form-control" />
                        <label>Offer Content</label>
                        <textarea name="OfferContent" required="" value="@Model.OfferContent" id="OfferContent" rows="8" cols="8" class="form-control">
                            @Model.OfferContent

                        </textarea>
                        
                        <br />
                        <input type="submit" class="btn btn-primary" value="Save" />

                        <input type="hidden" id="hdnId" value="@Model.Id" name="hdnId" />
                    </div>
                </form>
            </div>
        </div>
        </div>
    </div>

