﻿@model IEnumerable <EasyGhaat.Models.Offer>
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/MasterAdmin/Views/Shared/_LayoutPage1.cshtml";
}
@if (TempData["Message"] != null)
{
    <script type="text/javascript">

            alert("SuccessFull");

    </script>

}

<div class="page-wrapper">
    <div class="container-fluid">
        <!-- Page Heading -->
        <div class="row">
            <div class="col-lg-12">
                <h3 class="page-header">
                    Add Offers
                </h3>
                <form method="post" enctype="multipart/form-data" action="@Url.Action("Save","AddOffer")">
                    <div class="col-md-6">
                        <label>Offer Title</label>
                        <input type="text" name="OfferTitle"  maxlength="250"  required="" id="OfferTitle" class="form-control" />
                        <label>Offer Price</label>
                        <input type="text" name="OfferPrice"    required="" id="OfferPrice" class="form-control" />
                        <label>Offer Content</label>
                        <textarea name="OfferContent" required="" id="OfferContent" rows="8" cols="8" class="form-control"></textarea>
                        <label>Offer Image</label>
                        <input type="file" id="file" required="" name="files" accept="image/*" required="" />
                        <br />
                        <input type="submit" class="btn btn-primary"  value="Save" />
                    </div>
                </form>
            </div>
        </div>



 @if(Model!=null)
   { 
        <div class="row">

            <div class="col-lg-12">
                <h3 class="page-header">
                    Update Offers
                </h3>
                <table class="table-bordered">
                    <thead>
                        <tr style="background-color:#2e6da4;color:white;">

                            <th><center>Title</center></th>
                            <th><center>Price</center></th>
                            <th><center>Content</center></th>
                            <th><center>Image</center></th>
                            <th width="50px">Edit</th>
                            <th width="50px">Delete</th>

                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td hidden="hidden">@item.Id</td>
                                <td>@item.OfferTitle</td>
                                <td>@item.OfferPrice</td>
                                <td>@item.OfferContent</td>
                                <td style="width:50px; height:50px"><img src="@Url.Content(item.OfferImage)" alt="" class="img-responsive"></td>
                                <td>@Html.ActionLink("Edit", "Edit", "AddOffer", new { id = @item.Id }, null)</td>
                                <td>@Html.ActionLink("Delete", "Delete", "AddOffer", new { id = @item.Id }, new { onclick = "return confirm('Do you really want to delete the  " + @item.Id + "?')" })</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
}

    </div>
</div>

