﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- CSS
    ================================================== -->
    <!-- Bootstrap -->
    <link rel="stylesheet" href="../css/bootstrap.min.css" />
    <!-- FontAwesome -->
    <link rel="stylesheet" href="../css/font-awesome.min.css" />
    <!-- Animation -->
    <link rel="stylesheet" href="../css/animate.css" />
    <!-- Owl Carousel -->
    <link rel="stylesheet" href="../css/owl.carousel.css" />
    <link rel="stylesheet" href="../css/owl.theme.css" />
    <!-- Pretty Photo -->
    <link rel="stylesheet" href="../css/prettyPhoto.css" />
    <!-- Main color style -->
    <link rel="stylesheet" href="../css/red.css" />
    <!-- Template styles-->
    <link rel="stylesheet" href="../css/custom.css" />

    <!-- Responsive -->
    <link rel="stylesheet" href="../css/responsive.css" />
    <!--<link rel="stylesheet" href="css/jquery.fancybox.css?v=2.1.5" type="text/css" media="screen" />-->
    <!-- <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>-->
    <!-- <link href='http://fonts.googleapis.com/css?family=Lato:400,300' rel='stylesheet' type='text/css'>
     <link href='http://fonts.googleapis.com/css?family=Raleway:400,300,500' rel='stylesheet' type='text/css'> -->
    <link rel="stylesheet" href="../css/bootstrap-social.css" />
    <link rel="stylesheet" href="../css/scrolling-nav.css" />
    <!-- fancy box -->
    <link href="~/Content/fancyapps/source/helpers/jquery.fancybox-buttons.css" rel="stylesheet" />
    <script src="~/Content/fancyapps/source/helpers/jquery.fancybox-buttons.js"></script>
    <script src="~/Content/fancyapps/source/helpers/jquery.fancybox-media.js"></script>
    <link href="~/Content/fancyapps/source/helpers/jquery.fancybox-thumbs.css" rel="stylesheet" />
    <script src="~/Content/fancyapps/source/helpers/jquery.fancybox-thumbs.js"></script>
    <script src="~/Content/fancyapps/source/jquery.fancybox.js"></script>
    <script src="~/Content/fancyapps/source/jquery.fancybox.pack.js"></script>
    <link href="~/Content/fancyapps/source/jquery.fancybox.css" rel="stylesheet" />
    <script src="~/Content/fancyapps/lib/jquery.mousewheel-3.0.6.pack.js"></script>
    <script src="~/Content/fancyapps/lib/jquery-1.10.1.min.js"></script>
    <script src="~/Content/fancyapps/lib/jquery-1.9.0.min.js"></script>

    <script type="text/javascript">
		$(document).ready(function() {
			/*
			 *  Simple image gallery. Uses default settings
			 */

			$('.fancybox').fancybox();

			/*
			 *  Different effects
			 */

			// Change title type, overlay closing speed
			$(".fancybox-effects-a").fancybox({
				helpers: {
					title : {
						type : 'outside'
					},
					overlay : {
						speedOut : 0
					}
				}
			});

			// Disable opening and closing animations, change title type
			$(".fancybox-effects-b").fancybox({
				openEffect  : 'none',
				closeEffect	: 'none',

				helpers : {
					title : {
						type : 'over'
					}
				}
			});

			// Set custom style, close if clicked, change title type and overlay color
			$(".fancybox-effects-c").fancybox({
				wrapCSS    : 'fancybox-custom',
				closeClick : true,

				openEffect : 'none',

				helpers : {
					title : {
						type : 'inside'
					},
					overlay : {
						css : {
							'background' : 'rgba(238,238,238,0.85)'
						}
					}
				}
			});

			// Remove padding, set opening and closing animations, close if clicked and disable overlay
			$(".fancybox-effects-d").fancybox({
				padding: 0,

				openEffect : 'elastic',
				openSpeed  : 150,

				closeEffect : 'elastic',
				closeSpeed  : 150,

				closeClick : true,

				helpers : {
					overlay : null
				}
			});

			/*
			 *  Button helper. Disable animations, hide close button, change title type and content
			 */

			$('.fancybox-buttons').fancybox({
				openEffect  : 'none',
				closeEffect : 'none',

				prevEffect : 'none',
				nextEffect : 'none',

				closeBtn  : false,

				helpers : {
					title : {
						type : 'inside'
					},
					buttons	: {}
				},

				afterLoad : function() {
					this.title = 'Image ' + (this.index + 1) + ' of ' + this.group.length + (this.title ? ' - ' + this.title : '');
				}
			});


			/*
			 *  Thumbnail helper. Disable animations, hide close button, arrows and slide to next gallery item if clicked
			 */

			$('.fancybox-thumbs').fancybox({
				prevEffect : 'none',
				nextEffect : 'none',

				closeBtn  : false,
				arrows    : false,
				nextClick : true,

				helpers : {
					thumbs : {
						width  : 50,
						height : 50
					}
				}
			});

			/*
			 *  Media helper. Group items, disable animations, hide arrows, enable media and button helpers.
			*/
			$('.fancybox-media')
				.attr('rel', 'media-gallery')
				.fancybox({
					openEffect : 'none',
					closeEffect : 'none',
					prevEffect : 'none',
					nextEffect : 'none',

					arrows : false,
					helpers : {
						media : {},
						buttons : {}
					}
				});

			/*
			 *  Open manually
			 */

			$("#fancybox-manual-a").click(function() {
				$.fancybox.open('1_b.jpg');
			});

			$("#fancybox-manual-b").click(function() {
				$.fancybox.open({
					href : 'iframe.html',
					type : 'iframe',
					padding : 5
				});
			});

			$("#fancybox-manual-c").click(function() {
				$.fancybox.open([
					{
						href : '1_b.jpg',
						title : 'My title'
					}, {
						href : '2_b.jpg',
						title : '2nd title'
					}, {
						href : '3_b.jpg'
					}
				], {
					helpers : {
						thumbs : {
							width: 75,
							height: 50
						}
					}
				});
			});


		});

    </script>



    <style type="text/css">
        .fancybox-custom .fancybox-skin {
            box-shadow: 0 0 50px #222;
        }
    </style>

</head>
<body>
    <div> 
    </div>
</body>
</html>
