﻿@model EasyGhaat.Models.PriceTable

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/MasterAdmin/Views/Shared/_LayoutPage1.cshtml";
}



@if (TempData["Message"] != null)
{
    <script type="text/javascript">
            alert("SuccessFull");
    </script>
}



<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.0/jquery-ui.js"></script>


<script type="text/javascript">

    $(document).ready(function (){



            //called when key is pressed in textbox
        $("#Price").keypress(function (e) {
                //if the letter is not digit then display error and don't type anything
                if (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) {
                    //display error message
                    $("#errmsg").html("Digits Only").show().fadeOut("slow");
                    return false;
                }
            });



    });
    </script>
<div class="page-wrapper">
    <div class="container-fluid">
        <!-- Page Heading -->
        <div class="row">
            <div class="col-lg-12">
                <h3 class="page-header">
                    Edit Price
                </h3>
                <div>
                    <form method="post" action="@Url.Action("Edit","EditPriceList")">
                        <div class="col-md-6">

                            <label>Price</label>
                           <input type="text"  maxlength="4" name="Price" id="Price" value="@Model.Price" class="form-control" />
                            <br />
                            <input type="submit" value="Submit" class="btn btn-primary" />
                        </div>

                        <input type="hidden" id="hdnId" value="@Model.Id" name="hdnId" />
                    </form>

                </div>

            </div>
        </div>
    </div>
</div>



