﻿
@model dynamic

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/MasterAdmin/Views/Shared/_LayoutPage1.cshtml";
}

@if (TempData["Message"] != null)
{
    <script type="text/javascript">
        alert("SuccessFully Added ");
    </script>
}
@if (TempData["Message-1"] != null)
{
    <script type="text/javascript">
        alert("There are some kind of error please contact Admin");
    </script>
}


<div class="page-wrapper">
    <div class="container-fluid">
        <!-- Page Heading -->
        <div class="col-md-12">
            <h4 class="page-header">
                Add Cancel Reason
            </h4>
            <form method="post"  action="@Url.Action("Add","AddCancelReason")">
                <div class="col-md-8">
                    <br />
                    <label>Reason</label>
                    <input type="text" name="Reason" id="Reason" class="form-control" required="" maxlength="150"/>
                    <br />
                    <label> Role </label>
                    <select  required name="ddlRole" class="form-control" id="ddlRole">
                        <option value="">Select Role</option>
                        @foreach (EasyGhaat.Models.RoleType RoleType in Model.RoleType)
                        {
                            <option value="@RoleType.Id">@RoleType.RoleName</option>
                        }
                    </select>
                    <br />
                    <input type="submit" class="btn btn-primary" value="Submit" />&nbsp;&nbsp;&nbsp;&nbsp;<a href="@Url.Action("Index","ViewUpdateCancelReason")">View/Update CancelReason</a>
                </div>
            </form>
        </div>
    </div>
</div>

