﻿@using EasyGhaat;


@model  dynamic


<html lang="en">
<!--<![endif]-->
<head>
    <!-- Basic Page Needs
    ================================================== -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>EasyGhaat</title>
    <!-- Mobile Specific Metas
    ================================================== -->
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- CSS
    ================================================== -->
    <!-- Bootstrap -->
    <link rel="stylesheet" href="~/Content/css/bootstrap.min.css" />
    <!-- FontAwesome -->
    <link rel="stylesheet" href="~/Content/css/font-awesome.min.css" />
    <!-- Animation -->
    <link rel="stylesheet" href="~/Content/css/animate.css" />
    <!-- Owl Carousel -->
    <!--<link rel="stylesheet" href="css/owl.carousel.css"/>
    <link rel="stylesheet" href="css/owl.theme.css"/>-->
    <!-- Pretty Photo -->
    <!--<link rel="stylesheet" href="css/prettyPhoto.css"/>-->
    <!-- Main color style -->
    <link rel="stylesheet" href="~/Content/css/red.css" />
    <!-- Template styles-->
    <link rel="stylesheet" href="~/Content/css/custom.css" />
    <link rel="stylesheet" href="~/Content/css/scrolling-nav.css" />
    <!-- Responsive -->
    <link rel="stylesheet" href="~/Content/css/responsive.css" />
    <!--<link rel="stylesheet" href="css/jquery.fancybox.css?v=2.1.5" type="text/css" media="screen" />-->
    <!-- <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>-->
    <!-- <link href='http://fonts.googleapis.com/css?family=Lato:400,300' rel='stylesheet' type='text/css'>
     <link href='http://fonts.googleapis.com/css?family=Raleway:400,300,500' rel='stylesheet' type='text/css'> -->
    <link rel="stylesheet" href="~/Content/css/bootstrap-social.css" />


</head>

<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
   
    <!-- Navigation -->
    <!-- About Us works Start -->
    <section id="service">
@foreach (var item in Model)
{
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="feature_header text-center">
                        <h2 class="decorated-heading wow fadeInUp animated" style="visibility: visible; animation-duration: 0.5s; animation-delay: 0.1s; animation-name: fadeInUp;">@item.title</h2>
                        <p class="subtitle">@item.sub_title</p>

                    </div>
                </div>  <!-- Col-md-12 End -->
            </div>
            <div class="row">
                <div class="main_feature text-center">
                    <div class="col-md-6">
                        <div class="feature_content">
                            <p align="justify">@item.about_content </p>
                            

                            <a href="../about.html" style="background: transparent;border: none;background: none;">
                                <img src="../images/readmore.png" alt="" />
                            </a>
                        </div>
                    </div>

                    <!-- Col-md-4 Single_feature End -->
                    @foreach (EasyGhaat.Models.about_stripe about_stripe in Model.about_stripes)
                    {

                        @Html.Raw(about_stripe.RightSideContent);
                    }
                </div>
            </div>
        </div>
        }
        <!-- Container Full End -->
    </section>  <!-- Portfolio Section End -->
    <!-- Javascript Files
        ================================================== -->
    <!-- initialize jQuery Library -->
    <!-- initialize jQuery Library -->
    <!-- Main jquery -->
    <script type="text/javascript" src="~/Content/js/jquery.js"></script>
    <!-- Bootstrap jQuery -->
    <script src="~/Content/js/bootstrap.min.js"></script>
    <!-- Owl Carousel -->
    <script src="~/Content/js/owl.carousel.min.js"></script>
    <!-- Isotope -->
    <script src="~/Content/js/jquery.isotope.js"></script>
    <!-- Pretty Photo -->
    <script type="text/javascript" src="~/Content/js/jquery.prettyPhoto.js"></script>
    <!-- SmoothScroll -->
    <script type="text/javascript" src="~/Content/js/smooth-scroll.js"></script>
    <!-- Image Fancybox -->
    <script type="text/javascript" src="~/Content/js/jquery.fancybox.pack.js?v=2.1.5"></script>
    <!-- Counter  -->
    <script type="text/javascript" src="~/Content/js/jquery.counterup.min.js"></script>
    <!-- waypoints -->
    <!--<script type="text/javascript" src="js/waypoints.min.js"></script>-->
    <!-- Bx slider -->
    <script type="text/javascript" src="~/Content/js/jquery.bxslider.min.js"></script>
    <!-- Scroll to top -->
    <script type="text/javascript" src="~/Content/js/jquery.scrollTo.js"></script>
    <!-- Easing js -->
    <script type="text/javascript" src="~/Content/js/jquery.easing.1.3.js"></script>
    <!-- PrettyPhoto -->
    <!--<script src="js/jquery.singlePageNav.js"></script>-->
    <!-- Wow Animation -->
    <!--<script type="js/javascript" src="js/wow.min.js"></script>-->
    <!-- Google Map  Source -->
    <!-- Custom js -->
    <script src="~/Content/js/custom.js"></script>

    <script src="~/Content/js/scrolling-nav.js"></script>
    <script src="~/Content/js/jquery.easing.min.js"></script>

</body>
</html>
