﻿﻿@using EasyGhaat;


@model  dynamic

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}



  <script type="text/javascript">
    $(document).ready(function () {

			$('.bxslider').bxSlider({
  auto: true,
  
});
    });
</script>
<section id="slider_part">

    <ul class="bxslider">

        @foreach (EasyGhaat.Models.home_slider slider in Model.sliders)
        {
            <li>
                <div class="carousel slide" id="carousel-example-generic" data-ride="carousel">

                    <div class="carousel-inner">
                        <div class="item active">
                            <div class="overlay-slide">
                                <img src="@Url.Content(slider.image_path)" alt="" class="img-responsive">
                            </div>
                            <div class="carousel-caption">
                                <div class="col-md-12 col-xs-12 text-center">
                                    <h3 class="animated2">@slider.content_1</h3>
                                    <p class="animated3">@slider.content_2</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        }
    </ul>

</section>

<div class="row" style="background-color:#f5f5f5">


    <div class="container">
        <div class="col-xs-6 col-md-3">

        </div>
        <div class="col-xs-12 col-md-6">
            <p>&nbsp;</p>

            <div class="form-inline" align="center">
                <div class="form-group">
                    <label class="sr-only">Download Our Mobile App</label>
                    <h5 class="form-control-static" style="color: #aaaaaa;font-size: 17px;"><center>Download Our Mobile App</center></h5>
                </div>

                <div class="input-group" style="margin-bottom: 2px;" align="center">
                    <input type="text" class="form-control" id="getapp" placeholder="Enter 10 digit mobile no." required="" >
                    <span class="input-group-btn">
                        <input type="submit" class="btn btn-primary" name="btnSubmit" id="btnapp" />
                    </span>
                </div><!-- /input-group -->
            </div>
            <p>&nbsp;</p>
        </div>
        <div class="col-xs-6 col-md-3">
        </div>
    </div>
</div>




<section id="service">
    <!--welcome area starts-->

    <div class="container">
        <!-- Welcome -->
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="feature_header text-center">
                    <h2 class="decorated-heading wow fadeInUp animated" style="visibility: visible; animation-duration: 0.5s; animation-delay: 0.1s; animation-name: fadeInUp;">WELCOME TO EASYGHAAT </h2>
                    <p class="subtitle">We Collect, We Clean, We Deliver</p>

                </div>
            </div>  <!-- Col-md-12 End -->
        </div>

        @foreach (EasyGhaat.Models.Welocme_area wel in Model.welcome)
        {
            <div class="row">
                <div class="main_feature text-center">
                    <div class="col-md-6 col-xs-12 col-sm-12">
                        <div class="feature_content">
                            <p align="justify">@wel.welcome_content</p>
                        </div>
                    </div>
                    <!-- Col-md-4 Single_feature End -->
                    <div class="col-md-6 col-xs-12 col-sm-12">
                        <div class="feature_content">
                            <p align="justify">@wel.welcome_content1</p>
                        </div>
                    </div> <!-- Col-md-4 Single_feature End -->
                </div>
            </div>
        }
        <!-- Row End -->
        <div class="row">
            <div class="main_feature text-center">
                <div class="col-md-6 col-xs-12 col-sm-12">
                    <div class="feature_content">
                        <img src="~/Content/images/home1.jpg" class="img-responsive">
                        <p>&nbsp;</p>
                    </div>
                </div>
                <!-- Col-md-4 Single_feature End -->
                <div class="col-md-6 col-xs-12 col-md-6 col-sm-12">



                    <div class="col-md-6 col-xs-12 col-md-6" style="text-align: center;border: 1px solid #e0e0e0;">
                        <a href="@Url.Action("Index", "Service")"><i class="fa fa-cog" style="font-size: 50px;color: #222222;"></i></a>
                        <h5>Services </h5>
                        <p> Wash,Dryclean,Iron </p>
                        <p> We will pick, service & deliver </p>
                        <p> We will pick, service & deliver </p>
                    </div>
                    <div class="col-md-6 col-xs-12 col-md-6" style="text-align: center;border: 1px solid #e0e0e0;">
                        <span class="fa fa-comment" style="font-size: 50px;color: #222222;"></span>
                        <h5>Online consultation</h5>
                        <p>Order online  </p>
                        <p> service at one click </p> <p> We will pick, service & deliver </p>
                    </div>
                    <div class="col-md-6 col-xs-12 col-md-6" style="text-align: center;border: 1px solid #e0e0e0;">
                       <a href="@Url.Action("Index", "Offer")"> <span class="fa fa-gift" style="font-size: 50px;color: #222222;"></span></a>
                        <h5>Offer</h5>
                        <p>Choose best offers </p>
                        <p>Specialy catered for your</p>  <p> We will pick, service & deliver </p>
                    </div>
                    <div class="col-md-6 col-xs-12 col-md-6" style="text-align: center;border: 1px solid #e0e0e0;">
                        <span class="fa fa-suitcase" style="font-size: 50px;color: #222222;"></span>
                        <h5>Package</h5>
                        <p>Choose Monthly Packages </p>
                        <p>For all your Monthly</p> <p> We will pick, service & deliver </p>

                    </div>
                    <p>&nbsp;</p>
                </div> <!-- Col-md-4 Single_feature End -->
            </div>
        </div>
        <!-- Row End -->
    </div>
</section>
<!--welcome area End-->
<!--Testimonials area starts-->
<section id="testimonial" class="wow fadeInUp " style="background:#32c2e5;padding-bottom:0px">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="feature_header text-center">
                    <h2 class="decorated-heading wow fadeInUp animated" style="visibility: visible; animation-duration: 0.5s; animation-delay: 0.1s; animation-name: fadeInUp; color:#FFFFFF">TESTIMONIALS</h2>
                    <p class="subtitle" style="color:#FFFFFF"></p>
                </div>
            </div>  <!-- Col-md-12 End -->
        </div>

    </div> <!-- Row End -->
    <div class="container">
        <div class="row">

            <div class="col-md-12" data-wow-delay="0.2s">
                <div class="carousel slide" data-ride="carousel" id="quote-carousel">

                    <!-- Bottom Carousel Indicators -->
                    <center>
                        <ol class="carousel-indicators testo1" align="center">
                            @foreach (EasyGhaat.Models.testimonial testimonial in Model.testimonials)
                            {
                                <li data-target="#quote-carousel" data-slide-to="0" class="testo">
                                    <img class="img-responsive " src="@Url.Content(testimonial.image_path)" alt="">
                                </li>
                            }
                        </ol>
                    </center>



                    <!-- Carousel Slides / Quotes -->
                    <div class="carousel-inner text-center">

                        <div class="item active">
                            <blockquote>
                                <div class="row">
                                    <div class="col-sm-8 col-sm-offset-2">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum nec ligula sodales, dictum lectus non, dignissim nunc. Vivamus ut convallis tellus. Integer tempus felis quis rutrum finibus.</p>
                                        <small>Vineeta Sharma</small>
                                    </div>
                                </div>
                            </blockquote>
                        </div>
                        <!-- Quote 2 -->
                        <div class="item">
                            <blockquote>
                                <div class="row">
                                    <div class="col-sm-8 col-sm-offset-2">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum nec ligula sodales, dictum lectus non, dignissim nunc. Vivamus ut convallis tellus. Integer tempus felis quis rutrum finibus.</p>
                                        <small>Vipasna shalok</small>
                                    </div>
                                </div>
                            </blockquote>
                        </div>
                        <!-- Quote 3 -->
                        <div class="item">
                            <blockquote>
                                <div class="row">
                                    <div class="col-sm-8 col-sm-offset-2">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum nec ligula sodales, dictum lectus non, dignissim nunc. Vivamus ut convallis tellus. Integer tempus felis quis rutrum finibus.</p>
                                        <small>Sonam Rawat</small>
                                    </div>
                                </div>
                            </blockquote>
                        </div>



                    </div>

                </div>


            </div>
        </div>

    </div>


    </div>
    <script>

        $(document).ready(function () {
            $("#quote-carousel").addClass("active");



            $('.carousel-inner .item:first').addClass('active');
            $('#quote-carousel').carousel({
                interval: 6000
            });

            $('#quote-carousel').carousel('cycle');


        }
    </script>
    <style>
        .carousel-inner .item {
            overflow: "hidden";
        }
    </style>

</section> <!-- Section Testimonial End -->






<section id="service">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="feature_header text-center">
                    <h2 class="decorated-heading wow fadeInUp animated" style="visibility: visible; animation-duration: 0.5s; animation-delay: 0.1s; animation-name: fadeInUp;">About Us</h2>
                    <p class="subtitle">EasyGhaat</p>

                </div>
            </div>  <!-- Col-md-12 End -->
        </div>
        <div class="row">
            <div class="main_feature text-center">
                <div class="col-md-6">

                    <div class="feature_content">
                        @foreach (EasyGhaat.Models.about_stripe about_stripe in Model.about_stripes)
                        {

                            <p align="justify">
                                @about_stripe.about_content
                            </p>
                        }
                        <p align="justify"></p>
                        <a href="@Url.Action("Index","AboutUsPage")" style="background: transparent;border: none;background: none;">
                            <img src="~/Content/images/readmore.png" />
                        </a>
                    </div>


                </div>


                <!-- Col-md-4 Single_feature End -->

                @foreach (EasyGhaat.Models.about_stripe about_stripe in Model.about_stripes)
                {

                    @Html.Raw(about_stripe.RightSideContent);
                }







                @*<a href="~/Views/AboutUsPage/Index.cshtml">~/Views/AboutUsPage/Index.cshtml</a>*@
            </div>
        </div>
    </div>

    <!-- Container Full End -->
</section>  <!-- Portfolio Section End -->


<section id="pricing_table" class="pricing_overlay">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="feature_header text-center">
                    <h2 class="decorated-heading wow fadeInUp animated" style="visibility: visible; animation-duration: 0.5s; animation-delay: 0.1s; animation-name: fadeInUp; color:#FFFFFF">PRICES</h2>
                    <p class="subtitle" style="color:#FFFFFF">Our Packages</p>
                    <p>&nbsp;</p>
                    <p>&nbsp;</p>
                </div>
            </div>  <!-- Col-md-12 End -->
        </div>


        <div class="row">
            <div class="grid_3 pricing-item wow fadeInRight animated" data-wow-duration=".2s" data-wow-delay=".2s" style="visibility: visible; animation-duration: 0.2s; animation-delay: 0.2s; animation-name: fadeInRight;">
                <div class="pricing_title parallax">
                    <h3>Basic</h3>
                </div>
                <div class="pricing-content">
                    <div class="price-wrap">
                        <span class="currency"><i class="fa fa-inr fa-3x"></i></span>
                        <span class="price">2500</span>

                    </div>
                    <ul class="feature-list">
                        <li>You Pay</li>
                        <li>Get your worth</li>
                        <li>Pick, service & deliver</li>
                    </ul>
                    <button type="submit" class="btn btn-primary">Order Now</button>
                </div>
            </div>
            <div class="grid_3 pricing-item wow fadeInRight animated" data-wow-duration=".4s" data-wow-delay=".4s" style="visibility: visible; animation-duration: 0.4s; animation-delay: 0.4s; animation-name: fadeInRight;">
                <div class="pricing_title parallax">
                    <h3>Silver</h3>
                </div>
                <div class="pricing-content">
                    <div class="price-wrap">
                        <span class="currency"><i class="fa fa-inr fa-3x"></i></span>
                        <span class="price">3500</span>
                    </div>
                    <ul class="feature-list">
                        <li>You Pay</li>
                        <li>Get your worth</li>
                        <li>Pick, service & deliver</li>
                    </ul>
                    <button type="submit" class="btn btn-primary">Order Now</button>
                </div>
            </div>
            <div class="grid_3 pricing-item wow fadeInRight animated" data-wow-duration=".6s" data-wow-delay=".6s" style="visibility: visible; animation-duration: 0.6s; animation-delay: 0.6s; animation-name: fadeInRight;">
                <div class="pricing_title parallax">
                    <h3>Gold</h3>
                </div>
                <div class="pricing-content">
                    <div class="price-wrap">
                        <span class="currency"><i class="fa fa-inr fa-3x"></i></span>
                        <span class="price">4500</span>
                    </div>
                    <ul class="feature-list">
                        <li>You Pay</li>
                        <li>Get your worth</li>
                        <li>Pick, service & deliver</li>
                    </ul>
                    <button type="submit" class="btn btn-primary">Order Now</button>
                </div>
            </div>
            <div class="grid_3 pricing-item wow fadeInRight animated" data-wow-duration=".8s" data-wow-delay=".8s" style="visibility: visible; animation-duration: 0.8s; animation-delay: 0.8s; animation-name: fadeInRight;">
                <div class="pricing_title parallax">
                    <h3>Platinum</h3>
                </div>
                <div class="pricing-content">
                    <div class="price-wrap">
                        <span class="currency"><i class="fa fa-inr fa-3x"></i></span>
                        <span class="price">5500</span>
                    </div>
                    <ul class="feature-list">
                        <li>You Pay</li>
                        <li>Get your worth</li>
                        <li>Pick, service & deliver</li>
                    </ul>
                    <button type="submit" class="btn btn-primary">Order Now</button>
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <p>&nbsp;</p>
                <center><a href="#"><button type="submit" class="btn btn-primary btn-lg">Make My Packages</button></a></center>
            </div>
            <div class="col-md-4"></div>
        </div>
    </div>

</section>  <!-- Pricing Section End -->





























<div class="row">

    <!--signup starts-->

    <div class="thumb-box2">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-12 col-sm-12 col-lg-offset-3">
                    <h3 style="color: #ffffff;text-transform: uppercase;margin: 0 0 2px 0; font-size: 25px " open sans", sans-serif;">Sign up below to get news &amp; deals!</h3>
                    <p class="title">Subscribe to our mailing list</p>

                    @*<form id="newsletter" accept-charset="utf-8">*@
                    <div id="newsletter" align="center">
                        <label class="name">

                            <input type="text" value="" name="name" id="name" class="form-control" placeholder="Your Name" style="background: rgba(221, 221, 221, 0.75);"  required="">

                        </label>
                        <label class="email">
                            <input type="email" value="" name="email" id="email" class="form-control" placeholder="Your E-Mail" style="background: rgba(221, 221, 221, 0.75);"  required="">

                        </label>

                        <button type="submit" class="btn-default btn2" value="Submit" name="Submit" id="btnSubmit" style="border:none">Submit</button>

                    </div>

                    @*</form>*@






                </div>
            </div>
        </div>
    </div>

    <!--signup Ends-->


    <div class="thumb-box3">
        <div class="container">
            <div class=" col-md-12">
                <h3 style="color: #ffffff;text-transform: uppercase;margin: 0 0 2px 0; font-size: 25px ">Environmentally Conscious Cleaning</h3>
                <p style="color:#FFF;">Going the extra mile for safe and environmentally conscious fabric care, our professionals conscientiously apply cleaning products. Protecting our environment is most important in every decision we make.</p>
                <p>&nbsp;</p>
            </div>
            <div class="row">



                @foreach (EasyGhaat.Models.UpperFooter UpperFooter in Model.UpperFooters)
                {

                    <div class="col-lg-4 col-md-4 col-sm-4">
                        <div class="thumb-pad5">
                            <div class="thumbnail">
                                <figure><img src="@Url.Content(UpperFooter.Icon)" class="img-responsive" alt=""></figure>
                                <div class="caption">
                                    <p class="title">@UpperFooter.Heading</p>
                                    <p align="justify">@UpperFooter.Content</p>
                                </div>
                            </div>
                        </div>
                    </div>

                }
                <div class=" col-md-12">
                    <h3 style="color: #ffffff;text-transform: uppercase;margin: 0 0 2px 0; font-size: 25px ">Have Any Question Or Want a Free Estimate</h3>
                    @foreach (EasyGhaat.Models.UpperFooter UpperFooter in Model.UpperFooters)
                    {
                        <p style="color:#FFF; font-size:20px;">@UpperFooter.ContactNumber</p>
                    }
                    <p>&nbsp;</p>
                </div>


            </div>
        </div>
    </div>
</div>

<section id="footer">
    <div class="footer_top">
        <div class="container">
            <div class="row">
                @foreach (EasyGhaat.Models.Footer_content Footer in Model.Footer_content)
                {


                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <h3 class="menu_head">@Footer.title1</h3>

                        <img src="@Url.Content(Footer.content1)" alt="" class="img-responsive">

                    </div>
                }
                @foreach (EasyGhaat.Models.Footer_content Footer in Model.Footer_content)
                  {


                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <h3 class="menu_head">@Footer.title2</h3>
                        <div class="footer_menu">
                            <ul>

                                @Html.Raw(Footer.content2)
                            </ul>
                        </div>
                    </div>
                }



                @foreach (EasyGhaat.Models.Footer_content Footer in Model.Footer_content)
            {


                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <h3 class="menu_head">@Footer.title3</h3>
                        <div class="footer_menu">
                            <ul>

                                @Html.Raw(Footer.content3)
                            </ul>
                        </div>
                    </div>
                }




                @foreach (EasyGhaat.Models.Footer_content Footer in Model.Footer_content)
            {


                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <h3 class="menu_head">@Footer.title4</h3>

                        <img src="@Url.Content(Footer.content4)" alt="" class="img-responsive">

                    </div>
                }




            </div>
            <label>&nbsp;</label>

@foreach (EasyGhaat.Models.Footer_content Footer in Model.Footer_content)
{


    <center>
        <p style="color:#FFFFFF">

            @Footer.copyright
            Developed by: <a href="http://www.zeusadsolutions.com" alt="Software Company" title="Software Development and Web Development Company" target="_blank">ZeusAdSolutions</a>
        </p>
    </center>
}
        </div>

    </div>

</section>
<div id="back-top">

    <a id="back-to-top" href="#" class="btn btn-primary btn-lg back-to-top" role="button" data-toggle="tooltip" data-placement="left"><span class="glyphicon glyphicon-chevron-up"></span></a>
</div>










<script type="text/javascript">

            $(document).ready(function () {
                $(function () {

                    $('#btnapp').click(function () {
                        if ($('#getapp').val() == "")
                        {
                            alert("Text cant be blank");
                            return;
                        }
                    });


                    $('#btnSubmit').click(function () {
                        if (($('#email').val() == "") && ($('#email').val() == "")) 
                        {
                            alert("Name and Email cant be blank");
                            return;
                        }

                        $.ajax({
                            type: "POST",
                            contentType: "application/json;charset=utf-8",
                            url: "/Home/Submit",
                            data: "{'Name':'" + $('#name').val() + "', 'Email':'" + $('#email').val() + "'}",
                            async: false,
                            success: function (response) {

                                $('#name').val("");
                                $('#email').val("");

                                if (response.d == "true")
                                {
                                    alert("sent");

                                }
                                   else
                                {
                                    alert("sent");
                               }
                            },
                            error: function () {
                                console.log("there is some error");
                            }
                        });
                    });
                });
            });
</script>


