﻿@model IEnumerable<EasyGhaat.Models.home_slider>

@{
    ViewBag.Title = "Slider";
    Layout = null;
}
<html lang="en">
<!--<![endif]-->
<head>


    <!-- Basic Page Needs
    ================================================== -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>EasyGhaat</title>
    <!-- Mobile Specific Metas
    ================================================== -->
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- CSS
    ================================================== -->
    <!-- Bootstrap -->
    <link rel="stylesheet" href="~/Content/css/bootstrap.min.css" />
    <!-- FontAwesome -->
    <link rel="stylesheet" href="~/Content/css/font-awesome.min.css" />
    <!-- Animation -->
    <link rel="stylesheet" href="~/Content/css/animate.css" />
    <!-- Owl Carousel -->
    <!--<link rel="stylesheet" href="css/owl.carousel.css"/>
    <link rel="stylesheet" href="css/owl.theme.css"/>-->
    <!-- Pretty Photo -->
    <!--<link rel="stylesheet" href="css/prettyPhoto.css"/>-->
    <!-- Main color style -->
    <link rel="stylesheet" href="~/Content/css/red.css" />
    <!-- Template styles-->
    <link rel="stylesheet" href="~/Content/css/custom.css" />
    <link rel="stylesheet" href="~/Content/css/scrolling-nav.css" />
    <!-- Responsive -->
    <link rel="stylesheet" href="~/Content/css/responsive.css" />
    <!--<link rel="stylesheet" href="css/jquery.fancybox.css?v=2.1.5" type="text/css" media="screen" />-->
    <!-- <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>-->
    <!-- <link href='http://fonts.googleapis.com/css?family=Lato:400,300' rel='stylesheet' type='text/css'>
     <link href='http://fonts.googleapis.com/css?family=Raleway:400,300,500' rel='stylesheet' type='text/css'> -->
    <link rel="stylesheet" href="~/Content/css/bootstrap-social.css" />


</head>

<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">

    <!-- Navigation -->
    <!-- Slider start -->

    <section id="slider_part">
        @foreach (var item in Model)
        {
            <div class="carousel slide" id="carousel-example-generic" data-ride="carousel">
                <!-- Indicators -->
                <ul class="carousel-indicators  text-center">
                    @{ var i = -1;

                        foreach (var a in item.slider_id.ToString())
                        {




                            <li data-slide-to="@(++i)" data-target="#carousel-example-generic" class="@(i==1? "active":"")"></li>
                        }

                    }
                </ul>
                <div class="carousel-inner">
                    @{var isFirst = true;
                        foreach (var image in item.slider_id.ToString())
                        {
                            <div class="item@(isFirst? "active":"")"
                                 @(isFirst = false)>
                                <div class="overlay-slide">
                                    <img src="@Url.Content(item.image_path)" alt="" class="img-responsive">
                                </div>
                                <div class="carousel-caption">
                                    <div class="col-md-12 col-xs-12 text-center">

                                        <h3 class="animated2">@item.content_1</h3>

                                        <p class="animated3">@item.content_2</p>
                                    </div>
                                </div>
                            </div>
                        }
                    }


                </div> 	 <!-- End Carousel Inner -->
                <!-- Controls -->
                <div class="slides-control ">
                    <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                        <span><i class="fa fa-angle-left"></i></span>
                    </a>
                    <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                        <span><i class="fa fa-angle-right"></i></span>
                    </a>
                </div>
            </div>
                        }

    </section>
    <!--/ Slider end -->
    <!-- get app button -->
    <div class="row" style="background-color:#f5f5f5">


        <div class="container">
            <div class="col-xs-6 col-md-3">
            </div>
            <div class="col-xs-12 col-md-6">
                <p>&nbsp;</p>
                <form class="form-inline">
                    <div class="form-group">
                        <label class="sr-only">Download Our Mobile App</label>
                        <h5 class="form-control-static" style="color: #aaaaaa;font-size: 17px;">Download Our Mobile App</h5>
                    </div>

                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Enter 10 digit mobile no.">
                        <span class="input-group-btn">
                            <button class="btn btn-primary" type="button">Get App</button>
                        </span>
                    </div><!-- /input-group -->



                </form>
                <p>&nbsp;</p>
            </div>
            <div class="col-xs-6 col-md-3">
            </div>
        </div>
    </div>
    <script>
    </script>


    <!--get app button -->
    <!-- Service Area start -->
    <!--instant order -->
    <!-- Javascript Files
        ================================================== -->
    <!-- initialize jQuery Library -->
    <!-- initialize jQuery Library -->
    <!-- Main jquery -->
    <script type="text/javascript" src="~/Content/js/jquery.js"></script>
    <!-- Bootstrap jQuery -->
    <script src="~/Content/js/bootstrap.min.js"></script>
    <!-- Owl Carousel -->
    <script src="~/Content/js/owl.carousel.min.js"></script>
    <!-- Isotope -->

    <script src="~/Content/js/jquery.isotope.js"></script>
    <!-- Pretty Photo -->
    <script type="text/javascript" src="~/Content/js/jquery.prettyPhoto.js"></script>
    <!-- SmoothScroll -->
    <script type="text/javascript" src="~/Content/js/smooth-scroll.js"></script>
    <!-- Image Fancybox -->
    <script type="text/javascript" src="~/Content/js/jquery.fancybox.pack.js?v=2.1.5"></script>
    <!-- Counter  -->
    <script type="text/javascript" src="~/Content/js/jquery.counterup.min.js"></script>
    <!-- waypoints -->
    <!--<script type="text/javascript" src="js/waypoints.min.js"></script>-->
    <!-- Bx slider -->
    <script type="text/javascript" src="~/Content/js/jquery.bxslider.min.js"></script>
    <!-- Scroll to top -->
    <script type="text/javascript" src="~/Content/js/jquery.scrollTo.js"></script>
    <!-- Easing js -->
    <script type="text/javascript" src="~/Content/js/jquery.easing.1.3.js"></script>
    <!-- PrettyPhoto -->
    <!--<script src="js/jquery.singlePageNav.js"></script>-->
    <!-- Wow Animation -->
    <!--<script type="js/javascript" src="js/wow.min.js"></script>-->
    <!-- Google Map  Source -->
    <!-- Custom js -->
    <script src="~/Content/js/custom.js"></script>

    <script src="~/Content/js/scrolling-nav.js"></script>
    <script src="~/Content/js/jquery.easing.min.js"></script>

</body>
</html>
