﻿




@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/MasterAdmin/Views/Shared/_LayoutPage1.cshtml";
}










<div class="page-wrapper">
    <div class="container-fluid">
        <!-- Page Heading -->

        <div class="row">
            <div class="col-lg-12">
                <h3 class="page-header">
                    View Vendor PriceList
                </h3>
                <table class="table">
                    <thead class="thead-inverse">
                        <tr style="background-color:#2e6da4;color:white;">          
                            <th><center>Vendor Name</center></th>
                            <th><center>Price</center></th>
                            <th width="50px">Delete</th>
                            <th width="50px">Edit</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
        </div>
    </div>
