﻿@model EasyGhaat.Models.Employee

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/MasterAdmin/Views/Shared/_LayoutPage1.cshtml";
}



<div class="page-wrapper">
    <div class="container-fluid">
        <!-- Page Heading -->
        <div class="col-md-12">
            <h4 class="page-header">
                Update Employee
            </h4>
            <form method="post" enctype="multipart/form-data" action="@Url.Action("Edit","ViewEmployees")">
                <div class="col-md-8">
                    <br />
                    <label>EmpLoyee Name</label>
                    <input type="text" name="Name" id="Name" class="form-control" required="" value="@Model.emp_name"  readonly=""/>
                    <label>EmpLoyee Password</label>
                    <input type="text" name="Password" id="Password" class="form-control" value="@Model.password" required="" />
                    <br />
                    <label>Current Address</label>
                    <textarea name="Address" id="Address" required="" value="@Model.curent_add" readonly="" rows="8" cols="8" class="form-control">
                        @Model.curent_add
                    </textarea>
                    <label>State </label>
                    <input type="text" name="State" id="State" class="form-control" value="@Model.State.StateName" required="" readonly=""/>
                    <br />
                    <label>City </label>
                    <input type="text" name="City" id="City" class="form-control" value="@Model.City.CityName" required="" readonly="" />
                    <br />
                    <label>Phone No</label>
                    <input type="text" name="PhoneNo" id="PhoneNo"  value="@Model.per_phoneNo"   class="form-control" required="" />
                    <br />
                    <label>Salary Details :</label>
                    <br />
                    <label>Basic Salary</label>
                    <input type="text" name="BasicSalary" id="BasicSalary" value="@Model.SalaryDetail.BasicSalary" class="form-control" required="" />

                    <label>T.A</label>
                    <input type="text" name="TA" id="TA"  value="@Model.SalaryDetail.TA" class="form-control" required="" />

                    <label>D.A</label>
                    <input type="text" name="DA" id="DA"  value="@Model.SalaryDetail.DA" class="form-control" required="" />

                    <label>H.R.A</label>
                    <input type="text" name="HRA" id="HRA" value="@Model.SalaryDetail.HRA"  class="form-control" required="" />
                    <br />
                 
                    <label>Assign Role </label>
                    <input type="text" name="AssignRole" id="AssignRole" value="@Model.RoleType.RoleName" class="form-control" readonly=""/>
                    <br />

                    <br />
                    <label>Assign Branch </label>
                    <input type="text" name="ddlBranch" id="ddlBranch" value="@Model.Branch.Name" class="form-control" readonly="" />
                    <br />
                    <label>DOJ</label>
                    <input type="text" name="DOJ" id="DOJ"  value="@Model.DOJ" readonly=""  class="form-control" required="" />
                    <label>DOB</label>
                    <input type="text" name="DOB" id="DOB"  value="@Model.DOB" readonly="" class="form-control" required="" />

                    <label>Note</label>
                    <textarea name="Note" id="Note" required="" rows="8" cols="8" value="@Model.Note" class="form-control">
                        @Model.Note
                    </textarea>
                    <br />
                    <label>Upload Employee Image</label>
                    <input type="file" id="file" name="files" accept="image/*"  />
                    <br />
                    <input type="hidden" id="hdnId" name="hdnId"  value="@Model.emp_id"/>
                    <br />
                    <input type="submit" class="btn btn-primary" value="Submit" />&nbsp;&nbsp;&nbsp;&nbsp;<a href="@Url.Action("Index","ViewEmployees")">View/Update Employee</a>
                </div>

                <img src="@Url.Content(Model.uplod_photo)" height="200" width="100" alt="" class="img-responsive">

            </form>
        </div>
    </div>
</div>






