﻿
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Admin Login</title>

    <!-- Bootstrap Core CSS -->
    <title>EasyGhaat Admin </title>
    <link href="~/Areas/MasterAdmin/Content/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="~/Areas/MasterAdmin/Content/css/sb-admin.css" rel="stylesheet">


    <!-- Custom Fonts -->
    <link href="~/Areas/MasterAdmin/Content/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">


    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <div class="container">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <div class="login-panel panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Please Sign In</h3>
                    </div>
                    <div class="panel-body">
                        <form role="form" name="login_frm" id="login_frm" method="get">
                            <fieldset>
                                <div class="form-group">
                                    <input class="form-control" placeholder="E-mail" name="txtemail" type="email"  id="txtemail" autofocus>
                                </div>
                                <div class="form-group">
                                    <input class="form-control" placeholder="Password" name="txtpassword"  id="txtpassword" type="password" value="">
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input name="remember" type="checkbox" value="Remember Me">Remember Me
                                    </label>
                                </div>
                                <!-- Change this to a button or input when using this as a form -->
                                <div class="btn-group" role="group">
                                    <button type="submit" class="btn btn-primary" value="">Login</button>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- jQuery -->


    <!-- Bootstrap Core JavaScript -->
    @*<script src="js/bootstrap.min.js"></script>*@
</body>

</html>
<script src="~/Content/sweetalert-master/sweetalert.min.js"></script>
<link href="~/Content/sweetalert-master/sweetalert.css" rel="stylesheet" />
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.0/jquery-ui.js"></script>

<script type="text/javascript">



    $(function () {

        function validateEmail(email) {
            var re = /^(([^<>()\[\]\\.,;:\s@@"]+(\.[^<>()\[\]\\.,;:\s@@"]+)*)|(".+"))@@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
            return re.test(email);
        }


        function removeSpaces(string) {
            return string.split(' ').join('');
        }

        $("form[name='login_frm']").submit(function (e)
        {

            e.preventDefault();

            var email = removeSpaces($("#txtemail").val());

            var pwd = removeSpaces($("#txtpassword").val());
       
            Authenticate_ByEmail(email, pwd);


        });
    });



        function Authenticate_ByEmail(email, pwd) {

            $.ajax({
                type: 'GET',
                contentType: 'application/json',
                url: "/api/Emp_Info/GetAdminLogin/"+ email +"/"+ pwd,
                success: function (data) {

                    if (data.length > 0)
                    {

             
                        write_Admin_log(data);
                    }
                    else {
                        swal("Oops...", "Invalid EmailId or Password,Please try with correct one.", "error");
                    }

                },
                error: function (xhr) {

                    $('#Error_msg').html('<div class="alert alert-error"><button type="button" class="close" data-dismiss="alert">&times;</button><h4>Error in Get_code Method !</h4>' + xhr.responseText + '</div>');
                    swal("Oops...", "Invalid EmailId or Password,Please try with correct one.", "error");
                }
            });
        }
 
        function write_Admin_log(data) {

            var post_data = {
                EmployeeId: data[0].emp_id
            };

            $.ajax({
                type:'POST',
                data: JSON.stringify(post_data),
                contentType:'application/json',
                url:'@Url.Action("PostEmp_Session","AdminLogin")',
                success: function (post_data) {

                        if (post_data == true)
                        {
                         
                            window.location.href ='../MasterAdmin/ViewProducts/Index';
                        }
                    },
                error: function (xhr) {
                    $('#Error_msg').append('<div class="alert alert-error" style="color: #b94a48;background-color: #f2dede;border-color: #eed3d7;><button type="button" class="close" data-dismiss="alert">&times;</button><h4>Error in Share_Code Method !</h4>' + xhr.responseText + '</div>');
                    }
                });
        }

    </script>