﻿
@model EasyGhaat.Models.PriceTable
@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/MasterAdmin/Views/Shared/_LayoutPage1.cshtml";
}

<script type="text/javascript">

    $(document).ready(function (){



            //called when key is pressed in textbox
        $("#Price").keypress(function (e) {
                //if the letter is not digit then display error and don't type anything
                if (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) {
                    //display error message
                    $("#errmsg").html("Digits Only").show().fadeOut("slow");
                    return false;
                }
            });



    });
</script>

<div class="page-wrapper">
    <div class="container-fluid">
        <!-- Page Heading -->
        <div class="row">
            <div class="col-lg-12">
                <h4 class="page-header">
                    Edit Price
                </h4>
                <form method="post" action="@Url.Action("Edit","EditVendorPriceList")">
                    <div class="col-md-6">
                        <label>Product</label>
                        <br />
                        <input type="text" name="Product" id="Product" value="@Model.Product.Name" readonly="" class="form-control" />
                        <br />
                        <label>Unit</label>
                        <br />
                        <input type="text" name="Unit" id="Unit" value="@Model.Unit_Type.U_Type" readonly="" class="form-control" />
                        <br />
                        <label>Price</label>
                        <br />
                        <input type="text" maxlength="4" name="Price" id="Price" value="@Model.Price" class="form-control" />
                        <br />
                        <input type="submit" class="btn btn-primary" value="Submit" />
                        <br />
                        <input type="hidden" id="hdnId" name="hdnId" value="@Model.Id"  />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

