﻿@model dynamic

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/MasterAdmin/Views/Shared/_LayoutPage1.cshtml";
}

@if (ViewData["Message"] != null)
{
    <script type="text/javascript">
        alert("SuccessFully Added ");
    </script>
}

@if (ViewData["Message-1"] != null)
{
    <script type="text/javascript">
        alert("Already Exists");
    </script>
}


<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.0/jquery-ui.js"></script>


<script type="text/javascript">


    $(document).ready(function () {



       // bind_drp_Branch();


        $('#ddlBranch').change(function () {

            var BranchId = $(this).val();

            FillVendor(BranchId);
        });


        $('#ddlVendor').change(function () {

            var VendorId = $(this).val();
            debugger;
            FillService(VendorId);
        });


    });


  
    function FillService(VendorId)   // this the code to bind Vendor Assigned services
    {
        $('#ddlService').html('');
      //  $('#ddlService').append('<option value="0">Select Service</option>');
        $.ajax({
            type: 'GET',
            contentType:'application/json',
            url: "/api/ViewGetAssignedServiceByVendorIds/" + VendorId,
            success: function (data) {
                debugger;
                $.each(data, function (idx, value) {
                    $('#ddlService').append('<option value=' + value.ServiceId + '>' + value.ServiceName + '</option>');
                });
            },
            error: function (xhr) {
                // sweetAlert("Oops...", "Something went wrong! " + xhr.responseText, "error");
                $('#Error_msg').html('<div class="alert alert-error" style="color: #b94a48;background-color: #f2dede;border-color: #eed3d7;"><button type="button" class="close" data-dismiss="alert">&times;</button><h4>Error in bind_drp_men_pro Method !</h4>' + xhr.responseText + '</div>');
            }
        });
    }

    function FillVendor(BranchId)// this the code to bind cities
    {
        $('#ddlVendor').html('');
       // $('#ddlVendor').append('<option value="0">Select Vendor</option>');
        $.ajax({
            type: 'GET',
            contentType: 'application/json',
            url: "/api/ViewGetVendorByBranches/" + BranchId,
            success: function (data) {
                $.each(data, function (idx, value) {

                    $('#ddlVendor').append('<option value=' + value.Id + '>' + value.VendorName + '</option>');
                });
            },
            error: function (xhr) {
                // sweetAlert("Oops...", "Something went wrong! " + xhr.responseText, "error");
                $('#Error_msg').html('<div class="alert alert-error" style="color: #b94a48;background-color: #f2dede;border-color: #eed3d7;"><button type="button" class="close" data-dismiss="alert">&times;</button><h4>Error in bind_drp_men_pro Method !</h4>' + xhr.responseText + '</div>');
            }
        });
    }

</script>










<div class="page-wrapper">
    <div class="container-fluid">
        <!-- Page Heading -->
        <div class="col-md-12">
            <h4 class="page-header">
                Add Service Delivery Hours
            </h4>
            <form method="post" action="@Url.Action("Add","VendorServiceDeliveryHour")">
                <div class="col-md-8">          
                    <label>Branch</label>
                    <select required name="ddlBranch" class="form-control" id="ddlBranch">

                       <option value="">Select Branch</option>
        @foreach (EasyGhaat.Models.Branch Branch in Model.Branch)
        {
            <option value="@Branch.Id">@Branch.Name</option>
        }
                    </select>
                    <br />
                    <label>Vendor </label>
                    <select name="ddlVendor" class="form-control" id="ddlVendor">
                        <option value="">Select Vendor</option>
                    </select>
                    <br />
                    <label>Service </label>
                    <select required name="ddlService" class="form-control" id="ddlService">
                        <option value="">Select Service</option>
                    </select>
                    <br />                 
                       <label>Delivery Type </label>
                    <select required name="ddlType" class="form-control" id="ddlType">
                        <option value="">Select Type</option>
                        @foreach (EasyGhaat.Models.DeliveryType_tbl DeliveryType_tbl in Model.DeliveryType_tbl)
                        {
                            <option value="@DeliveryType_tbl.Id">@DeliveryType_tbl.DeliveryType</option>
                        }
                    </select>
                    <br />

                    <label>Service Hours</label>
                    <input type="number"   min="1" max="100" name="txtServiceHours" id="txtServiceHours" class="form-control" required="" />
                    <br />

                    <label>Marginal Hours</label>
                    <input type="number"  min="1" max="100" name="txtMarginalHours" id="txtMarginalHours" class="form-control" required="" />
                    <br />

                    <label>SurgePrice %age</label>
                    <input type="number"  min="1" max="100"  name="txtSurgePrice" id="txtSurgePrice" class="form-control"  />
                    <br />
                    <input type="submit" class="btn btn-primary" value="Submit" />&nbsp;&nbsp;&nbsp;&nbsp;<a href="@Url.Action("Index","ViewVendorServiceDeliveryHour")">View/Update  Service DeliveryHours</a>
                </div>
            </form>
        </div>
    </div>
</div>

