﻿@model EasyGhaat.Models.LaundryBag_Tbl

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/MasterAdmin/Views/Shared/_LayoutPage1.cshtml";
}

<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>


@if (TempData["Message"] != null)
{
    <script type="text/javascript">
            alert("SuccessFull");
    </script>
}


<script type="text/javascript">


    $(document).ready(function () {


        $('.alphaonly').bind('keyup blur', function () {
            var node = $(this);
            node.val(node.val().replace(/[^a-z ]/g, ''));
        }
       );
    });







    $(document).ready(function () {

        //called when key is pressed in textbox
        $("#weight").keypress(function (e) {
            //if the letter is not digit then display error and don't type anything
            if (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) {
                //display error message
                $("#errmsg").html("Digits Only").show().fadeOut("slow");
                return false;
            }
        });


        $("#Price").keypress(function (e) {
            //if the letter is not digit then display error and don't type anything
            if (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) {
                //display error message
                $("#errmsg").html("Digits Only").show().fadeOut("slow");
                return false;
            }
        });


        $("#Count").keypress(function (e) {
            //if the letter is not digit then display error and don't type anything
            if (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) {
                //display error message
                $("#errmsg").html("Digits Only").show().fadeOut("slow");
                return false;
            }
        });


    });










</script>



<div class="page-wrapper">
    <div class="container-fluid">
        <!-- Page Heading -->
        <div class="row">
            <div class="col-lg-12">
                <h3 class="page-header">
                    Edit Price
                </h3>
                <div>
                    <form method="post" action="@Url.Action("Edit","ViewLaundryBags")">
                        <div class="col-md-6">
                            <label>Material Name</label>
                            <input type="text" name="Material" id="Material" value="@Model.MaterialName" class="form-control alphaonly" />
                            <br />
                            <label>weight Capacity</label>
                            <input type="text" name="weight" id="weight" maxlength="4"   value="@Model.weightCapacity" class="form-control" />
                            <br />                                                                                                     
                            <label>Count Capacity</label>
                            <input type="text" name="Count" id="Count"  maxlength="3"  value="@Model.CountCapacity" class="form-control" />
                            <br />
                            <label>Price</label>
                            <input type="text" name="Price" id="Price" maxlength="3" value="@Model.Price" class="form-control" />
                            <br />
                            <img style="width:100px; height:100px" src="@Url.Content(Model.BagImgUrl)" alt="" class="img-responsive">
                            <br />
                            <label>Upload New</label>
                            <input type="file" id="file" name="files" accept="image/*" />
                            <br />
                            <input type="submit" value="Submit" class="btn btn-primary" />
                        </div>

                        <input type="hidden" id="hdnId" value="@Model.Id" name="hdnId" />
                        <input type="hidden" id="hdnPrice" value="@Model.Price" name="hdnPrice" />

                    </form>

                </div>

            </div>
        </div>
    </div>
</div>



