﻿@model IEnumerable<EasyGhaat.Models.Surge>
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/MasterAdmin/Views/Shared/_LayoutPage1.cshtml";
}



<div class="page-wrapper">
    <div class="container-fluid">


        @if (Model != null)
        {
            <div class="row">

                <div class="col-lg-12">
                    <h4 class="page-header">
                        Update Surge
                    </h4>
                    <table class="table">
                        <thead class="thead-inverse">
                            <tr style="background-color:#2e6da4;color:white;">

                                <th><center>Branch Name</center></th>
                                @*<th><center>Area Name</center></th>*@
                                <th><center>Surge Price</center></th>
                                <th width="50px">Edit</th>
                                <th width="50px">Delete</th>


                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>@item.Branch.Name</td>
                                    @*<td>@item.Locality.LocalArea</td>*@
                                    <td>@item.SurgeAmount</td>
                                    <td>@Html.ActionLink("Edit", "Edit", "UpdateSurge", new { id = @item.Id }, null)</td>
                                    <td>@Html.ActionLink("Delete", "Delete", "UpdateSurge", new { id = @item.Id }, new { onclick = "return confirm('Do you really want to delete the tag " + @item.Id + "?')" })</td>

                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        }



    </div>
</div>


