﻿

@model  dynamic



@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}
<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">

    <!-- Navigation -->
    <!-- instant order -->
    <section id="service">

        <!-- download button strart-->
        <!-- End download button-->


        <div class="container">
            <!-- Welcome -->
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="feature_header text-center">
                        <h2 class="decorated-heading wow fadeInUp animated" style="visibility: visible; animation-duration: 0.5s; animation-delay: 0.1s; animation-name: fadeInUp;">Terms & Conditions</h2>
                        <!--  <p class="subtitle">Duis autem vel eum iriure dolor</p>-->

                    </div>
                </div>  <!-- Col-md-12 End -->
            </div>
            <!-- Row End -->
            <!-- Row End -->
            <div class="row">

                <div class="main_feature">
                   
                        <p><strong>1 -</strong>EG will deliver within 48 hours but in case of bad weather it may take 72 hours.</p>
                        <p><strong>2 -</strong>Membership package will be given in advance payment only.</p>
                        <p><strong>3 -</strong>No Refund or Cancellation of Packages.</p>
                        <p><strong>4 -</strong>In case cloth lose its color then it’s the liability
                            of the customer.
                        </p>
                        <p><strong>5 -</strong>Customer can select any one day of the week
                            and rest will be selected accordingly.
                        </p>
                        <p><strong>6 -</strong>Sarees included in packages will be only daily
                            wear and regular sarees.
                        </p>
                        <p><strong>7 -</strong>EG will not be responsible for lost or damaged
                            clothing over the amount of Rs. 250* for laundry
                            and Rs.1000* for Dry-clean.
                        </p>
                        <p><strong>8 -</strong>No Claim will be entertained after one week.</p>
                        <p><strong>9 -</strong>Pick-Up & Delivery slip needs to be signed by
                            customer.
                        </p>
                        <p><strong>10 -</strong>Package Customer can replace 3 regular with
                            one household and 1 household with 2 regular.
                            Rates can be changed without any prior Notice</p>



                    </div>
                </div>

            </div>
        </section>
                    <section id="footer">
                        <div class="footer_top">
                            <div class="container">
                                <div class="row">
                                    @foreach (EasyGhaat.Models.Footer_content Footer in Model.Footer_content)
                                    {


                                        <div class="col-md-3 col-sm-6 col-xs-12">
                                            <h3 class="menu_head">@Footer.title1</h3>

                                            <img src="@Url.Content(Footer.content1)" alt="" class="img-responsive">

                                        </div>
                                    }
                                    @foreach (EasyGhaat.Models.Footer_content Footer in Model.Footer_content)
                                    {


                                        <div class="col-md-3 col-sm-6 col-xs-12">
                                            <h3 class="menu_head">@Footer.title2</h3>
                                            <div class="footer_menu">
                                                <ul>

                                                    @Html.Raw(Footer.content2)
                                                </ul>
                                            </div>
                                        </div>
                                    }



                                    @foreach (EasyGhaat.Models.Footer_content Footer in Model.Footer_content)
            {


                                        <div class="col-md-3 col-sm-6 col-xs-12">
                                            <h3 class="menu_head">@Footer.title3</h3>
                                            <div class="footer_menu">
                                                <ul>

                                                    @Html.Raw(Footer.content3)
                                                </ul>
                                            </div>
                                        </div>
                                    }




                                    @foreach (EasyGhaat.Models.Footer_content Footer in Model.Footer_content)
            {


                                        <div class="col-md-3 col-sm-6 col-xs-12">
                                            <h3 class="menu_head">@Footer.title4</h3>

                                            <img src="@Url.Content(Footer.content4)" alt="" class="img-responsive">

                                        </div>
                                    }




                                </div>
                                <label>&nbsp;</label>

                                @foreach (EasyGhaat.Models.Footer_content Footer in Model.Footer_content)
            {


                                    <center>
                                        <p style="color:#FFFFFF">

                                            @Footer.copyright
                                            Developed by: <a href="http://www.zeusadsolutions.com" alt="Software Company" title="Software Development and Web Development Company" target="_blank">ZeusAdSolutions</a>
                                        </p>
                                    </center>
                                }
                            </div>

                        </div>

                    </section>
                    <div id="back-top">

                        <a id="back-to-top" href="#" class="btn btn-primary btn-lg back-to-top" role="button" data-toggle="tooltip" data-placement="left"><span class="glyphicon glyphicon-chevron-up"></span></a>
                    </div>
                </body>
