﻿@model dynamic

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/MasterAdmin/Views/Shared/_LayoutPage1.cshtml";
}

@if (TempData["Message"] != null)
{
    <script type="text/javascript">

        swal("Oops...", "SuccessFully Added .");

    </script>
}

<link rel="stylesheet" href="//code.jquery.com/ui/1.12.0/themes/base/jquery-ui.css">
<link rel="stylesheet" href="/resources/demos/style.css" />
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.0/jquery-ui.js"></script>

<script type="text/javascript">

    $(document).ready(function () {

        $("#PermanentAddress").hide();
        $("#hdnchk").val(1);
        $('#addresschk').attr('checked', 'checked');
        $(function () {
            $("#DOJ").datepicker();
        });
        $(function () {
            $("#DOB").datepicker();
        });
        bind_drp_state();
        $('#ddlState').change(function () {
            var StateId = $(this).val();
            FillCity(StateId);
        });

    });


    $(function () {

        $("#addresschk").click(function () {

            if ($(this).is(":checked"))
            {
                $("#PermanentAddress").hide();
            }
            else
            {
                $("#PermanentAddress").show();
                $("#hdnchk").val(2);

            }
        });
    });

    function bind_drp_state() {
        $('#ddlState').html('');
        //$('#ddlState').append('<option value="0">Select State</option>');
        $.ajax({
            type: 'GET',
            contentType: 'application/json',
            url: "/api/StateCity/GetState",
            success: function (data) {
                $.each(data, function (idx, value) {
                    $('#ddlState').append('<option value=' + value.Id + '>' + value.StateName + '</option>');
                });
            },
            error: function (xhr) {
                // sweetAlert("Oops...", "Something went wrong! " + xhr.responseText, "error");
                $('#Error_msg').html('<div class="alert alert-error" style="color: #b94a48;background-color: #f2dede;border-color: #eed3d7;"><button type="button" class="close" data-dismiss="alert">&times;</button><h4>Error in bind_drp_men_pro Method !</h4>' + xhr.responseText + '</div>');
            }
        });
    }

    function FillCity(SateId)// this the code to bind cities
    {
        $('#ddlCity').html('');
        //$('#ddlCity').append('<option value="0">Select City</option>');
        $.ajax({
            type: 'GET',
            contentType: 'application/json',
            url: "/api/StateCityController/GetCity_ByStateId/" + SateId,
            success: function (data) {
                $.each(data, function (idx, value) {
                    $('#ddlCity').append('<option value=' + value.Id + '>' + value.CityName + '</option>');
                });
            },
            error: function (xhr) {
                // sweetAlert("Oops...", "Something went wrong! " + xhr.responseText, "error");
                $('#Error_msg').html('<div class="alert alert-error" style="color: #b94a48;background-color: #f2dede;border-color: #eed3d7;"><button type="button" class="close" data-dismiss="alert">&times;</button><h4>Error in bind_drp_men_pro Method !</h4>' + xhr.responseText + '</div>');
            }
        });
    }





    $(document).ready(function ()


    {
        //called when key is pressed in textbox
        $("#BankAccountNo").keypress(function (e) {
            //if the letter is not digit then display error and don't type anything
            if (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) {
                //display error message
                $("#errmsg").html("Digits Only").show().fadeOut("slow");
                return false;
            }
        });

        $("#LongitudeCurrent").keypress(function (e) {
            //if the letter is not digit then display error and don't type anything
            if (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) {
                //display error message
                $("#errmsg").html("Digits Only").show().fadeOut("slow");
                return false;
            }
        });

        $("#LattitudeCurrent").keypress(function (e) {
            //if the letter is not digit then display error and don't type anything
            if (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) {
                //display error message
                $("#errmsg").html("Digits Only").show().fadeOut("slow");
                return false;
            }
        });

        $("#LongitudePermanent").keypress(function (e) {
            //if the letter is not digit then display error and don't type anything
            if (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) {
                //display error message
                $("#errmsg").html("Digits Only").show().fadeOut("slow");
                return false;
            }
        });

        $("#LattitudePermanent").keypress(function (e) {
            //if the letter is not digit then display error and don't type anything
            if (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) {
                //display error message
                $("#errmsg").html("Digits Only").show().fadeOut("slow");
                return false;
            }
        });


        $("#PPhoneNo").keypress(function (e) {
            //if the letter is not digit then display error and don't type anything
            if (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) {
                //display error message
                $("#errmsg").html("Digits Only").show().fadeOut("slow");
                return false;
            }
        });

     
    });





    function CheckPhoneNo()
    {
        var dataObject =
        {
            per_phoneNo: $("#PPhoneNo").val()
        };
        $.ajax({
            type: "GET",
            url: "@Url.Action("CheckPhoneNo", "ManageEmployee")",
            data: dataObject,
        dataType: "json",
        success: function (data) {

            if (data == true) {
                alert('PhoneNo already exists!');
                $("#PPhoneNo").val('');
                $("#PPhoneNo").focus();
            }
        }
    });
    }





    function CheckEmailId()
    {
        var dataObject =
        {
            EmailId: $("#EmailId").val()
        };
        $.ajax({
            type: "GET",
            url: "@Url.Action("CheckEmailId", "ManageEmployee")",
            data: dataObject,
        dataType: "json",
        success: function (data) {

            if (data == true) {
                alert('EmailId already exists!');
                $("#EmailId").val('');
                $("#EmailId").focus();
            }
        }
    });
    }







</script>
<div class="page-wrapper">
    <div class="container-fluid">
        <!-- Page Heading -->
        <div class="col-md-12">
            <h4 class="page-header">
                Add Employee
            </h4>
            <form method="post" enctype="multipart/form-data"    action="@Url.Action("Add","ManageEmployee")">
                <div class="col-md-8">
                    <br />
                    <label>EmpLoyee Name</label>
                    <input type="text" name="Name" id="Name" maxlength="100"   class="form-control" required="" />
                    <br />
                    <label>EmpLoyee Password</label>
                    <input type="text" name="Password" maxlength="10"   id="Password" class="form-control" required="" />
                    <br />
                    <label>Assign Role </label>
                    <select required name="ddlARole" class="form-control" id="ddlARole">
                        <option value="">Select Role</option>
                        @foreach (EasyGhaat.Models.RoleType RoleType in Model.RoleType)
                        {
                            <option value="@RoleType.Id">@RoleType.RoleName</option>
                        }
                    </select>
                    <br />
                    <br />
                    <label>Assign Branch </label>
                    <select required  name="ddlABranch" class="form-control" id="ddlABranch">
                        <option value="">Select Branch</option>
                        @foreach (EasyGhaat.Models.Branch Branch in Model.Branch)
                        {
                            <option value="@Branch.Id">@Branch.Name</option>
                        }
                    </select>
                    <br />
                    <label>Phone No</label>
                    <input type="text"  maxlength="10"  onfocusout="CheckPhoneNo();"   name="PPhoneNo" id="PPhoneNo" class="form-control" required="" />
                    <br />
                    <label>DOB</label>
                    <input type="date" name="DOB" id="DOB" class="form-control" required="" />
                    <br />
                    <label>DOJ</label>
                    <input type="date" name="DOJ" id="DOJ" class="form-control" required="" />
                    <label>EmailId</label>
                    <input type="email" name="EmailId"  onfocusout="CheckEmailId();"   maxlength="150" id="EmailId" class="form-control" required="" />
                    <br />
                </div>
                <div id="CurrentAddress" class="col-md-8">
                    <label>City </label>
                    <select required  name="ddlCityCurrent" class="form-control" id="ddlCityCurrent">
                        <option value="">Select City</option>
                        @foreach (EasyGhaat.Models.City City in Model.City)
                        {
                            <option value="@City.Id">@City.CityName</option>
                        }
                    </select>
                    <br />

                    <label>AreaId</label>
                    <input type="text" name="AreaIdCurrent" maxlength="250" id="AreaIdCurrent" class="form-control" required="" />
                    <br />
                    <label>HouseNo</label>
                    <input type="text" name="HouseNoCurrent"  maxlength="50" id="HouseNoCurrent" class="form-control" required="" />
                    <br />
                    <label>StreetName</label>
                    <input type="text" name="StreetNameCurrent" maxlength="50"  id="StreetNameCurrent" class="form-control" required="" />
                    <br />
                    <label>LandMark</label>
                    <input type="text" name="LandMarkCurrent" maxlength="250"   id="LandMarkCurrent" class="form-control" />
                    <br />
                    <label>Longitude</label>
                    <input type="text" name="LongitudeCurrent" maxlength="8" id="LongitudeCurrent" class="form-control"  />
                    <br />
                    <label>Lattitude</label>
                    <input type="text" name="LattitudeCurrent" maxlength="8" id="LattitudeCurrent" class="form-control"  />
                    <br />
                </div>
                <br />
                <div class="col-md-8">
                    <label>Permanent Address Same As Current Address</label>
                    <input type="checkbox" name="addresschk" id="addresschk" />
                </div>
                <br />
                <div id="PermanentAddress" class="col-md-8">
                    <label>City </label>
                    <select  name="ddlCityPermanent" class="form-control" id="ddlCityPermanent">
                        <option >Select City</option>
                        @foreach (EasyGhaat.Models.City City in Model.City)
                        {
                            <option value="@City.Id">@City.CityName</option>
                        }
                    </select>
                    <br />
                    <label>AreaId</label>
                    <input type="text" name="AreaIdPermanent" maxlength="250"  id="AreaIdPermanent" class="form-control"  />
                    <br />
                    <label>HouseNo</label>
                    <input type="text" name="HouseNoPermanent" maxlength="50"  id="HouseNoPermanent" class="form-control"  />
                    <br />
                    <label>StreetName</label>
                    <input type="text" name="StreetNamePermanent" maxlength="50"  id="StreetNamePermanent" class="form-control"  />
                    <br />
                    <label>LandMark</label>
                    <input type="text" name="LandMarkPermanent" maxlength="250"  id="LandMarkPermanent" class="form-control"  />
                    <br />
                    <label>Longitude</label>
                    <input type="text" name="LongitudePermanent" maxlength="8" id="LongitudePermanent" class="form-control"  />
                    <br />
                    <label>Lattitude</label>
                    <input type="text" name="LattitudePermanent" maxlength="8" id="LattitudePermanent" class="form-control"  />
                    <br />
                </div>
                <div id="salaryDetail" class="col-md-8">
                    <label>Basic Salary</label>
                    <input type="number" name="BasicSalary"  id="BasicSalary" class="form-control" required="" />
                    <br />
                    <label>T.A</label>
                    <input type="number" name="TA" id="TA" class="form-control" required="" />
                    <br />
                    <label>D.A</label>
                    <input type="number" name="DA" id="DA" class="form-control" required="" />
                    <br />
                    <label>H.R.A</label>
                    <input type="number" name="HRA" id="HRA" class="form-control" required="" />
                    <br />
                </div>
                <div id="BankDetail" class="col-md-8">
                    <label>Bank Name</label>
                    <input type="text" name="BankName" id="BankName" maxlength="50" class="form-control" required="" />
                    <br />
                    <label>Branch Name</label>
                    <input type="text" name="BranchName" maxlength="100" id="BranchName" class="form-control" required="" />
                    <br />
                    <label>Bank Account Number</label>
                    <input type="text" name="BankAccountNo" maxlength="20"  id="BankAccountNo" class="form-control" required="" />
                    <br />
                    <label>IFSC Code</label>
                    <input type="text" name="IFSCCode" id="IFSCCode" maxlength="20" class="form-control" required="" />
                    <br />
                    <label>MICR </label>
                    <input type="text" name="MICR" id="MICR" maxlength="20" class="form-control" required="" />
                    <br />
                    <label>Account Type </label>
                    <select required name="ddlAccountType" class="form-control" id="ddlAccountType">
                        <option value="">Select AccountType</option>
                        <option value="1">Saving</option>
                        <option value="2">Current</option>
                    </select>
                    <br />  
                </div>
                <div class="col-md-8">
                    <label>Upload Employee Image</label>
                    <input type="file" id="file" name="files" accept="image/*" required="" />
                    <br />
                    <input type="submit" class="btn btn-primary" value="Submit" />&nbsp;&nbsp;&nbsp;&nbsp;<a href="@Url.Action("Index","ViewEmployees")">View/Update Employee</a>
                </div>

                <input type="hidden" id="hdnchk" name="hdnchk"  />
              </form>
        </div>
    </div>
</div>




