﻿
@model dynamic

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/MasterAdmin/Views/Shared/_LayoutPage1.cshtml";
}






@if (TempData["Message"] != null)
{
    <script type="text/javascript">

            alert("SuccessFull Add Surge");

    </script>

}


<div class="page-wrapper">
    <div class="container-fluid">
        <!-- Page Heading -->
        <div class="row">
            <div class="col-lg-12">
                <h4 class="page-header">
                    Add Surge
                </h4>
                <form method="post" action="@Url.Action("Add","AddSurge")">
                    <div class="col-md-6">
                        <label>Branch</label>
                        <select required name="ddlBranch" class="form-control" id="ddlBranch">
                            <option value="">Select Branch</option>
                            @foreach (EasyGhaat.Models.Branch branch in Model.Branch)
                            {
                                <option value="@branch.Id">@branch.Name</option>
                            }
                        </select>
                        <br />
                        <label>Area</label>
                        <select required name="ddlArea" class="form-control" id="ddlArea">
                            <option value="">Select Area</option>
                            @foreach (EasyGhaat.Models.Locality Locality in Model.Locality)
                            {
                                <option value="@Locality.Id">@Locality.LocalArea</option>
                            }
                        </select>
                        <br />
                        <br />
                        <label>Amount %</label>
                        <input type="number"  min="1" max="100" name="SurgeAmount" id="SurgeAmount" class="form-control" required="" />
                        <br />   
                        <br />      
                        <input type="submit" class="btn btn-primary" value="Submit" />&nbsp;&nbsp;&nbsp;&nbsp;<a href="@Url.Action("Index","UpdateSurge")">View SurgeList</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

