﻿@model IEnumerable<EasyGhaat.Models.DeliveryHours_tbl>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/MasterAdmin/Views/Shared/_LayoutPage1.cshtml";
}


@if(TempData["Message"] !=null)
{
    <script>
        alert("Deleted");
        </script>
}




<div class="page-wrapper">
    <div class="container-fluid">
        <!-- Page Heading -->
        @if (Model != null)
            {
            <div class="row">

                <div class="col-lg-12">
                    <h3 class="page-header">
                        View Delivery Hours
                    </h3>

                    <table class="table">
                        <thead class="thead-inverse">
                            <tr style="background-color:#2e6da4;color:white;">
                                <th><center>Service</center></th>
                                <th><center>Delivery Type</center></th>
                                <th><center>Branch</center></th>
                                <th><center>Delivery Hours</center></th>
                                <th><center>Mraginal Hours</center></th>
                                <th widh="50px">Delete</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td hidden="hidden">@item.Id</td>
                                    <td>@item.Service.Name</td>
                                    <td>@item.DeliveryType_tbl.DeliveryType</td>
                                    <td>@item.Branch.Name</td>
                                    <td>@item.DeliveryHours</td>
                                    <td>@item.MarginalHours</td>
                                    <td>@Html.ActionLink("Delete", "Delete", "ViewDeliveryHours", new { id = @item.Id }, null)</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                    <br />
                    <br />
                    <a href="@Url.Action("Index","AddDeliveryHours")">Add more</a>
                </div>
            </div>
        }
        else
        {
            <div class="row">

                <div class="col-lg-12">
                    <h3 class="page-header">
                        View Services
                    </h3>

                    <p> There is no service Added </p>

                </div>
            </div>
        }


    </div>

</div>


