﻿@model  IEnumerable<EasyGhaat.Models.home_slider>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/MasterAdmin/Views/Shared/_LayoutPage1.cshtml";
}


@if (ViewData["Message"] != null)
{
    <script language="javascript">
        $(document).ready(function (){

            alert('@ViewData["Message"]');
        });
    </script>
}



<div class="page-wrapper">


    <div class="container-fluid">
        <!-- Page Heading -->
        <div class="row">
            <div class="col-lg-12">
                <h3 class="page-header">
                    Create Slider
                </h3>
                <form action="AddSlider/AddSlider" method="post" enctype="multipart/form-data">
                    <div class="col-md-6">
                        <label>Title</label>
                        <textarea name="content1" id="content1" rows="4" cols="4" class="form-control"></textarea>
                        <br />
                        <label>Sub Title</label>
                        <textarea name="content2" id="content2" rows="4" cols="4" class="form-control"></textarea>
                        <br />
                        <label>Image Path</label>
                        <br />
                        <input type="file" id="file" name="files" accept="image/*" required="" />
                        <br />
                        <input type="submit" class="btn btn-primary" name="btnSubmit" />
                    </div>
                </form>
            </div>
        </div>
       

        @if (Model != null)
        {


        
            <div class="col-lg-12">
                <h3 class="page-header">
                    Edit Slider
                </h3>
                <table class="table-bordered" >
                    <thead>
                        <tr style="background-color:#2e6da4;color:white;">                           
                            <th><center>Image</center></th>
                            <th><center>Title</center></th>
                            <th><center>Sub Title</center></th>
                            <th width="50px" align="justify" >Edit</th>
                            <th width="50px" >Delete</th>

                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var slider in Model)
                        {
                            <tr>                             
                                <td style="width:50px; height:50px"><img src="@Url.Content(slider.image_path)" alt="" class="img-responsive"></td>
                                <td hidden="hidden">@slider.slider_id</td>
                                <td>@slider.content_1</td>
                                <td>@slider.content_2</td>
                                <td>@Html.ActionLink("Edit", "Edit", "UpdateSlider", new { id = @slider.slider_id }, null)</td>
                                <td>@Html.ActionLink("Delete", "Delete", "AddSlider", new { id = @slider.slider_id }, new { onclick = "return confirm('Do you really want to delete the tag " + @slider.slider_id + "?')" })</td>                                                       
                             </tr>
                        }
                    </tbody>
                </table>

            </div>

        }

        else

        {




        }

        </div>
    </div>
